In [1]:
import pandas as pd
import numpy as np

In [6]:
df_month = pd.read_csv("month.csv")

In [7]:
df_month

        Month
0  2007-01,22
1  2007-02,12
2  2007-03,09
3  2007-04,17
4  2007-05,10

In [22]:
df_month['dado'] = df_month['Month'].str.slice(start=8)

In [24]:
df_month

        Month dado
0  2007-01,22   22
1  2007-02,12   12
2  2007-03,09   09
3  2007-04,17   17
4  2007-05,10   10

In [26]:
df_month['Month'] = df_month['Month'].str.slice(stop=7)

In [27]:
df_month

     Month dado
0  2007-01   22
1  2007-02   12
2  2007-03   09
3  2007-04   17
4  2007-05   10