![](https://www.i9treinamentos.com/wp-content/uploads/elementor/thumbs/A-pandemia-de-Coronav%C3%ADrus-e-o-pandem%C3%B4nio-na-economia-omnnp6emx1qczr92vjwhtnoa1impqfrsl3zkw6c5g4.gif)

### Fonte dos dados: https://covid.saude.gov.br/
### Secretarias Estaduais de Saúde. Brasil, 2020

![](https://covid.saude.gov.br/assets/imgs/logo-app.png)

### Importando as bibliotecas necessárias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Base COVID

In [2]:
df_covid = pd.read_excel("data/arquivo_geral.xlsx", sep=";")

In [9]:
df_covid = df_covid.drop(columns=['coduf', 'codmun', 'codRegiaoSaude', 'nomeRegiaoSaude', 'populacaoTCU2019'])

In [22]:
df_covid = df_covid.rename(columns={'estado':'siglaEstado', 'Recuperadosnovos':'recuperadosNovos'})

### Base de Estados

In [24]:
df_estados = pd.read_excel("data/estados_brasil.xlsx")

In [25]:
df_estados.head(3)

   IBGE    Estado  UF        Região  Qtd Mun Sintaxe
0    11  Rondônia  RO  Região Norte       52  11'RO'
1    12      Acre  AC  Região Norte       22  12'AC'
2    13  Amazonas  AM  Região Norte       62  13'AM'

In [26]:
df_estados = df_estados.drop(columns=['IBGE', 'Qtd Mun', 'Sintaxe'])

In [28]:
df_estados = df_estados.rename(columns={'Estado':'estado', 'UF':'siglaEstado', 'Região':'regiao'})