![](https://www.i9treinamentos.com/wp-content/uploads/elementor/thumbs/A-pandemia-de-Coronav%C3%ADrus-e-o-pandem%C3%B4nio-na-economia-omnnp6emx1qczr92vjwhtnoa1impqfrsl3zkw6c5g4.gif)

### Fonte dos dados: https://covid.saude.gov.br/
### Secretarias Estaduais de Saúde. Brasil, 2020

![](https://covid.saude.gov.br/assets/imgs/logo-app.png)

### Importando as bibliotecas necessárias

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Importando a base de dados

In [7]:
df_covid = pd.read_csv("data/arquivo_geral.csv", sep=";")

In [8]:
df_covid

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Norte,RO,2020-01-30,0,0,0,0
1,Norte,RO,2020-01-31,0,0,0,0
2,Norte,RO,2020-02-01,0,0,0,0
3,Norte,RO,2020-02-02,0,0,0,0
4,Norte,RO,2020-02-03,0,0,0,0
...,...,...,...,...,...,...,...
2452,Centro-Oeste,DF,2020-04-25,24,1013,0,26
2453,Centro-Oeste,DF,2020-04-26,53,1066,1,27
2454,Centro-Oeste,DF,2020-04-27,80,1146,0,27
2455,Centro-Oeste,DF,2020-04-28,67,1213,1,28
2456,Centro-Oeste,DF,2020-04-29,62,1275,0,28

In [9]:
df_estados = pd.read_csv("data/estados.csv")

In [11]:
df_estados.rename(columns={'COD':'cod', 'NOME':'nome', 'SIGLA':'sigla'})

    cod                 nome sigla
0    35            São Paulo    SP
1    41               Paraná    PR
2    42       Santa Catarina    SC
3    43    Rio Grande do Sul    RS
4    50   Mato Grosso do Sul    MS
5    11             Rondônia    RO
6    12                 Acre    AC
7    13             Amazonas    AM
8    14              Roraima    RR
9    15                 Pará    PA
10   16                Amapá    AP
11   17            Tocantins    TO
12   21             Maranhão    MA
13   24  Rio Grande do Norte    RN
14   25              Paraíba    PB
15   26           Pernambuco    PE
16   27              Alagoas    AL
17   28              Sergipe    SE
18   29                Bahia    BA
19   31         Minas Gerais    MG
20   33       Rio de Janeiro    RJ
21   51          Mato Grosso    MT
22   52                Goiás    GO
23   53     Distrito Federal    DF
24   22                Piauí    PI
25   23                Ceará    CE
26   32       Espírito Santo    ES