### Reposit√≥rio

### https://brasil.io/dataset/covid19/caso?format=csv

In [1]:
import numpy as np
import pandas as pd
import requests
import json

In [2]:
df_covid = pd.read_csv("https://brasil.io/dataset/covid19/caso?format=csv")

In [6]:
df_covid[:5]

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-04-11,MG,Alfenas,city,1,0.0,True,79996.0,3101607.0,1.25006,NaN
1,2020-04-11,MG,Alpercata,city,1,0.0,True,7424.0,3101805.0,13.46983,NaN
2,2020-04-11,MG,Araguari,city,5,0.0,True,117267.0,3103504.0,4.26377,NaN
3,2020-04-11,MG,Arcos,city,2,0.0,True,40092.0,3104205.0,4.98853,NaN
4,2020-04-11,MG,Barbacena,city,2,0.0,True,137313.0,3105608.0,1.45653,NaN