In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [11]:
? pd.read_csv

In [6]:
data_metro_2016 = pd.read_csv('data\datamodaisrj_metro_2016.csv', sep=';')

In [7]:
data_metro_2016

                Bairros Total anual Média diária
0                 Saúde           -            -
1                Gamboa           -            -
2          Santo Cristo           -            -
3                  Caju           -            -
4                Centro      72 483          199
..                  ...         ...          ...
156          Santa Cruz           -            -
157            Sepetiba           -            -
158           Guaratiba           -            -
159  Barra de Guaratiba           -            -
160  Pedra de Guaratiba           -            -

[161 rows x 3 columns]

In [10]:
data_metro_2017 = pd.read_csv('data\datamodaisrj_metro_2017.csv', sep=';')

In [11]:
data_metro_2017

                Bairros Total anual Média diária
0                 Saúde           -            -
1                Gamboa           -            -
2          Santo Cristo           -            -
3                  Caju           -            -
4                Centro      66 654          183
..                  ...         ...          ...
156          Santa Cruz           -            -
157            Sepetiba           -            -
158           Guaratiba           -            -
159  Barra de Guaratiba           -            -
160  Pedra de Guaratiba           -            -

[161 rows x 3 columns]

In [14]:
data_trem_2016 = pd.read_csv('data\datamodaisrj_trem_2016.csv', sep=';')

In [15]:
data_trem_2016

                Bairros Total anual Média diária
0                 Saúde           -            -
1                Gamboa           -            -
2          Santo Cristo           -            -
3                  Caju           -            -
4                Centro      40 478          111
..                  ...         ...          ...
156          Santa Cruz       4 595           13
157            Sepetiba           -            -
158           Guaratiba           -            -
159  Barra de Guaratiba           -            -
160  Pedra de Guaratiba           -            -

[161 rows x 3 columns]

In [16]:
data_trem_2017 = pd.read_csv('data\datamodaisrj_trem_2017.csv', sep=',')

In [27]:
data_trem_2017

                Bairros Total anual Média diária
0                 Saúde           -            -
1                Gamboa           -            -
2          Santo Cristo           -            -
3                  Caju           -            -
4                Centro      35 873           98
..                  ...         ...          ...
156          Santa Cruz       4 169           11
157            Sepetiba           -            -
158           Guaratiba           -            -
159  Barra de Guaratiba           -            -
160  Pedra de Guaratiba           -            -

[161 rows x 3 columns]

In [59]:
data_trem_2017 = data_trem_2017[data_trem_2017['Total anual'] != '-']

In [44]:
data_trem_2017a= data_trem_2017.drop (data_trem_2017['Total anual'].isna())

KeyError: '[False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False False False False False False False False\n False False False False False] not found in axis'

In [60]:
data_trem_2017

                    Bairros Total anual Média diária
4                    Centro      35 873           98
10            São Cristóvão       7 804           21
12                 Benfica        1 156            3
34        Praça da Bandeira       1 167            3
37                 Maracanã       3 224            9
41               Manguinhos         668            2
42               Bonsucesso       1 816            5
43                    Ramos         819            2
44                   Olaria         937            3
47     São Francisco Xavier         732            2
49                Riachuelo       1 160            3
50                  Sampaio         505            1
51             Engenho Novo       1 172            3
53                    Méier       4 097           11
56        Engenho de Dentro       3 179            9
59                  Piedade         901            2
61                  Pilares         235            1
62              Jacarezinho          71            -
70        Quintino Bocaiúva         784            2
71               Cavalcanti         125            -
73                Cascadura       1 096            3
74                Madureira      10 455           29
77            Rocha Miranda         135            -
78           Honório Gurgel         160            -
79             Oswaldo Cruz         899            2
80            Bento Ribeiro         937            3
81          Marechal Hermes       1 607            4
84             Del Castilho         163            -
87             Tomás Coelho         161            -
89                    Penha       1 113            3
90           Penha Circular         774            2
91             Brás de Pina         378            1
92                 Cordovil         462            1
93          Parada de Lucas         614            2
94            Vigário Geral         382            1
97                 Anchieta         822            2
99   Ricardo de Albuquerque       1 236            3
102            Barros Filho         133            -
103            Costa Barros         102            -
104                  Pavuna         543            1
140            Padre Miguel       1 017            3
141                   Bangu       4 813           13
142          Senador Camará       1 107            3
144                 Deodoro       1 975            5
145            Vila Militar         289            1
148        Magalhães Bastos         957            3
149                Realengo       1 441            4
150              Santíssimo         890            2
151            Campo Grande       5 938           16
152     Senador Vasconcelos         636            2
153                Inhoaíba       1 508            4
154                  Cosmos       1 015            3
155               Paciência       1 895            5
156              Santa Cruz       4 169           11

In [65]:
estacoes_trem = pd.read_csv ('data\Estacoes_Trem.csv',sep=',')

In [66]:
estacoes_trem

,X,Y,OBJECTID,Cod,Nome,Flg_IntegraOnibus,Flg_IntegraMetro,Flg_Terminal,Flg_TransfRamal,Flg_TransfCentral,...,Flg_Saracuruna,Flg_Deodoro,Flg_SantaCruz,Flg_Japeri,Flg_Paracambi,Flg_VilaInhomirim,Flg_Guapimirim,Data_Inc,Integra_BRT,Corredor_BRT
0,659240.5000,7.482178e+06,1,60,Nova Iguaçu,NaN,NaN,Sim,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
1,655197.3795,7.484056e+06,2,20,Comendador Soares,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
2,651756.0969,7.486730e+06,3,4,Austin,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
3,648330.8010,7.487214e+06,4,81,Queimados,NaN,NaN,Sim,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
4,643238.5383,7.491415e+06,5,29,Engenheiro Pedreira,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,662749.9689,7.476772e+06,100,59,Nilópolis,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
100,661350.7989,7.479739e+06,101,57,Mesquita,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
101,663222.9125,7.475860e+06,102,62,Olinda,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
102,664401.8915,7.473383e+06,103,86,Ricardo de Albuquerque,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
103,660796.1724,7.481100e+06,104,80,Presidente Juscelino,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
estacoes_metro = pd.read_csv('data\Estacoes_Metro.csv', sep=',')

In [68]:
estacoes_metro

,X,Y,OBJECTID,Cod,Nome,Flg_ATM,Flg_Bicicletario,Flg_Elevador,Flg_Linha1,Flg_Linha2,...,Flg_Linha4,Integra_Trem,Integra_Onibus,Integra_BRT,Corredor,Integra_VLT,Onibus,Flg_Metro_Superficie,Metro_Superficie,Data_Inauguracao
0,667866.2673,7.477003e+06,1,1,Pavuna,Sim,Sim,Sim,Não,Sim,...,Não,Sim,Não,Não,NaN,Não,NaN,Não,NaN,1998
1,668510.9902,7.475928e+06,2,2,Engenheiro Rubens Paiva,Sim,Sim,Sim,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
2,669405.0928,7.475004e+06,3,3,Acari / Fazenda Botafogo,Não,Não,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
3,670051.9240,7.474226e+06,4,4,Coelho Neto,Sim,Não,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
4,671002.2546,7.472974e+06,5,5,Colégio,Sim,Sim,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
5,672080.2129,7.472379e+06,6,6,Irajá,Sim,Sim,Sim,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
6,673122.7026,7.471690e+06,7,7,Vicente de Carvalho,Sim,Sim,Não,Não,Sim,...,Não,Não,Não,Sim,Transcarioca,Não,NaN,Não,NaN,1996
7,673758.3954,7.470759e+06,8,8,Tomaz Coelho,Não,Não,Sim,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1996
8,674711.3483,7.470145e+06,9,9,Engenho da Rainha,Sim,Não,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1991
9,676143.2284,7.469385e+06,10,10,Inhauma,Sim,Sim,Sim,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1983
10,677318.7123,7.468848e+06,11,11,Del Castilho,Sim,Não,Sim,Não,Sim,...,Não,Não,Sim,Não,NaN,Não,"Fundão, Jacarepaguá, Barra",Não,NaN,1983
11,678502.9045,7.468584e+06,12,12,Maria da Graça,Sim,Não,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1983
12,680119.0029,7.466858e+06,13,13,Triagem,Sim,Sim,Não,Não,Sim,...,Não,Sim,Não,Não,NaN,Não,NaN,Não,NaN,1988
13,681175.5897,7.465429e+06,14,14,Maracanã,Sim,Não,Não,Não,Sim,...,Não,Sim,Não,Não,NaN,Não,NaN,Não,NaN,1981
14,682402.7993,7.465418e+06,15,15,São Cristóvão,Sim,Não,Não,Não,Sim,...,Não,Sim,Não,Não,NaN,Não,NaN,Não,NaN,1981
15,683969.3919,7.464993e+06,16,16,Estácio,Sim,Sim,Sim,Sim,Não,...,Não,Não,Sim,Não,NaN,Não,"Caju, Rodoviária",Não,NaN,1980
16,681317.6514,7.463852e+06,17,17,Saens Peña,Sim,Não,Sim,Sim,Não,...,Não,Não,Sim,Não,NaN,Não,"Usina, Muda, Grajaú, Andaraí",Não,NaN,1982
17,682185.2451,7.464224e+06,18,18,São Francisco Xavier,Sim,Sim,Não,Sim,Não,...,Não,Não,Sim,Não,NaN,Não,"Vila Isabel, Méier",Não,NaN,1982
18,682787.4438,7.464496e+06,19,19,Afonso Pena,Sim,Não,Não,Sim,Não,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1982
19,685520.6784,7.465933e+06,20,21,Central,Sim,Não,Não,Sim,Sim,...,Não,Sim,Não,Não,NaN,Não,NaN,Não,NaN,1979
20,686082.6388,7.466091e+06,21,22,Presidente Vargas,Sim,Não,Não,Sim,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1979
21,686559.5429,7.466074e+06,22,23,Uruguaiana,Sim,Não,Não,Sim,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1980
22,686955.9565,7.465625e+06,23,24,Carioca,Sim,Não,Sim,Sim,Sim,...,Não,Não,Não,Não,NaN,Sim,NaN,Não,NaN,1981
23,687176.6322,7.465150e+06,24,25,Cinelândia,Sim,Não,Não,Sim,Sim,...,Não,Não,Não,Não,NaN,Sim,NaN,Não,NaN,1979
24,687022.4373,7.464223e+06,25,26,Glória,Sim,Sim,Não,Sim,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1979
25,687026.3323,7.463572e+06,26,27,Catete,Sim,Sim,Não,Sim,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1981
26,686898.0782,7.462990e+06,27,28,Largo do Machado,Sim,Não,Sim,Sim,Sim,...,Não,Não,Sim,Não,NaN,Não,"Laranjeiras, Cosme Velho, Rodoviária",Não,NaN,1981
27,686772.2812,7.462273e+06,28,29,Flamengo,Sim,Não,Sim,Sim,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1981
28,686251.4633,7.460776e+06,29,30,Botafogo,Sim,Não,Sim,Sim,Sim,...,Não,Não,Sim,Não,NaN,Não,Urca,Sim,Gávea,1981
29,686529.0139,7.459289e+06,30,31,Cardeal Arcoverde,Sim,Não,Não,Sim,Não,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
30,685943.4062,7.459011e+06,31,32,Siqueira Campos,Sim,Sim,Não,Sim,Não,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,2003
31,684622.1828,7.465370e+06,32,33,Praca Onze,Sim,Não,Não,Sim,Não,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1979
32,685192.9235,7.457968e+06,33,34,Cantagalo,Sim,Sim,Sim,Sim,Não,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,2007
33,684012.5100,7.465505e+06,34,35,Cidade Nova,Sim,Não,Sim,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,2009
34,684841.9448,7.457077e+06,35,36,Ipanema / General Osório,Sim,Sim,Não,Sim,Não,...,Sim,Não,Não,Não,NaN,Não,NaN,Sim,Gávea,2009
35,680545.7830,7.463020e+06,36,37,Uruguai,Não,Sim,Não,Sim,Não,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,2014
36,683851.8912,7.457195e+06,37,38,Nossa Senhora da Paz,Sim,NaN,Sim,Não,Não,...,Sim,Não,Não,Não,NaN,Não,NaN,Não,NaN,2016
37,683051.4191,7.457311e+06,38,39,Jardim de Alah,Sim,NaN,Sim,Não,Não,...,Sim,Não,Não,Não,NaN,Não,NaN,Não,NaN,2016
38,682169.5884,7.457072e+06,39,40,Antero de Quental,Sim,NaN,Sim,Não,Não,...,Sim,Não,Não,Não,NaN,Não,NaN,Não,NaN,2016
39,679002.4229,7.456331e+06,40,41,São Conrado,Sim,NaN,NaN,Não,Não,...,Sim,Não,Não,Não,NaN,Não,NaN,Não,NaN,2016
40,673150.4201,7.454775e+06,41,42,Jardim Oceânico,Sim,NaN,Sim,Não,Não,...,Sim,Não,Não,Sim,Transoeste,Não,NaN,Não,NaN,2016