In [5]:
import pandas as pd

In [6]:
import matplotlib as mp

In [7]:
import numpy as np

# Estações

In [19]:
estacoes_metro = pd.read_csv('data/Estacoes_Metro.csv', low_memory=False)

In [42]:
estacoes_metro[:5]

,X,Y,OBJECTID,Cod,Nome,Flg_ATM,Flg_Bicicletario,Flg_Elevador,Flg_Linha1,Flg_Linha2,...,Flg_Linha4,Integra_Trem,Integra_Onibus,Integra_BRT,Corredor,Integra_VLT,Onibus,Flg_Metro_Superficie,Metro_Superficie,Data_Inauguracao
0,667866.2673,7.477003e+06,1,1,Pavuna,Sim,Sim,Sim,Não,Sim,...,Não,Sim,Não,Não,NaN,Não,NaN,Não,NaN,1998
1,668510.9902,7.475928e+06,2,2,Engenheiro Rubens Paiva,Sim,Sim,Sim,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
2,669405.0928,7.475004e+06,3,3,Acari / Fazenda Botafogo,Não,Não,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
3,670051.9240,7.474226e+06,4,4,Coelho Neto,Sim,Não,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
4,671002.2546,7.472974e+06,5,5,Colégio,Sim,Sim,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998

In [21]:
estacoes_trem = pd.read_csv('data/Estacoes_Trem.csv', low_memory=False)

In [22]:
estacoes_trem[:5]

,X,Y,OBJECTID,Cod,Nome,Flg_IntegraOnibus,Flg_IntegraMetro,Flg_Terminal,Flg_TransfRamal,Flg_TransfCentral,...,Flg_Saracuruna,Flg_Deodoro,Flg_SantaCruz,Flg_Japeri,Flg_Paracambi,Flg_VilaInhomirim,Flg_Guapimirim,Data_Inc,Integra_BRT,Corredor_BRT
0,659240.5000,7.482178e+06,1,60,Nova Iguaçu,NaN,NaN,Sim,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
1,655197.3795,7.484056e+06,2,20,Comendador Soares,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
2,651756.0969,7.486730e+06,3,4,Austin,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
3,648330.8010,7.487214e+06,4,81,Queimados,NaN,NaN,Sim,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
4,643238.5383,7.491415e+06,5,29,Engenheiro Pedreira,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN

# Fluxos

## Fluxo Metrô 2016

In [89]:
data_modais_metro_2016 = pd.read_csv('data/datamodaisrj_metro_2016.csv', sep=';')

In [90]:
data_modais_metro_2016[:5]

        Bairros Total anual Média diária
0         Saúde           -            -
1        Gamboa           -            -
2  Santo Cristo           -            -
3          Caju           -            -
4        Centro      72 483          199

## Fluxo Trem 2016

In [91]:
data_modais_trem_2016 = pd.read_csv('data/datamodaisrj_trem_2016.csv', sep=';')

In [92]:
data_modais_trem_2016[:5]

        Bairros Total anual Média diária
0         Saúde           -            -
1        Gamboa           -            -
2  Santo Cristo           -            -
3          Caju           -            -
4        Centro      40 478          111

## Fluxo Metrô 2017

In [93]:
data_modais_metro_2017 = pd.read_csv('data/datamodaisrj_metro_2017.csv', sep=';')

In [94]:
data_modais_metro_2017[:50]

                 Bairros Total anual Média diária
0                  Saúde           -            -
1                 Gamboa           -            -
2           Santo Cristo           -            -
3                   Caju           -            -
4                 Centro      66 654          183
5                   Lapa           -            -
6                Catumbi           -            -
7           Rio Comprido           -            -
8            Cidade Nova       5 163           14
9                Estácio       2 979            8
10         São Cristóvão       4 052           11
11             Mangueira           -            -
12              Benfica        1 990            5
13         Vasco da Gama           -            -
14               Paquetá           -            -
15          Santa Teresa           -            -
16              Flamengo       5 908           16
17                Glória       3 506           10
18           Laranjeiras           -            -
19                Catete      12 051           33
20           Cosme Velho           -            -
21              Botafogo      17 858           49
22               Humaitá           -            -
23                  Urca           -            -
24                  Leme           -            -
25            Copacabana      18 544           51
26               Ipanema      14 582           40
27                Leblon       4 576           13
28                 Lagoa           -            -
29       Jardim Botânico           -            -
30                 Gávea           -            -
31               Vidigal           -            -
32           São Conrado       3 299            9
33               Rocinha           -            -
34     Praça da Bandeira           -            -
35                Tijuca      22 140           61
36     Alto da Boa Vista           -            -
37              Maracanã       3 198            9
38           Vila Isabel           -            -
39               Andaraí           -            -
40                Grajaú           -            -
41            Manguinhos           -            -
42            Bonsucesso           -            -
43                 Ramos           -            -
44                Olaria           -            -
45                  Maré           -            -
46                Jacaré           -            -
47  São Francisco Xavier           -            -
48                 Rocha           -            -
49             Riachuelo           -            -

In [95]:
data_modais_metro_2017['Total anual'].count() * 1000

161000

## Fluxo Trem 2017

In [96]:
data_modais_trem_2017 = pd.read_csv('data/datamodaisrj_trem_2017.csv', sep=',')

In [97]:
data_modais_trem_2017[:5]

        Bairros Total anual Média diária
0         Saúde           -            -
1        Gamboa           -            -
2  Santo Cristo           -            -
3          Caju           -            -
4        Centro      35 873           98

In [101]:
data_modais_trem_2017['Total anual'].isna().count()

161

# População residente

In [120]:
data_populacao_residente = pd.read_csv('data/Populacao_residente.csv', sep=';')

In [121]:
data_populacao_residente[:5]

  Regiões Administrativas       2000       2010
0                     NaN        NaN        NaN
1                Anchieta    154 608    158 318
2                     NaN        NaN        NaN
3                   Bangu    420 503    428 035
4                     NaN        NaN        NaN

In [122]:
data_populacao_residente.count()

Regiões Administrativas    33
2000                       33
2010                       33
dtype: int64

In [139]:
data_populacao_residente[data_populacao_residente['2010'].isna()]

   Regiões Administrativas 2000 2010
0                      NaN  NaN  NaN
2                      NaN  NaN  NaN
4                      NaN  NaN  NaN
6                      NaN  NaN  NaN
8                      NaN  NaN  NaN
10                     NaN  NaN  NaN
12                     NaN  NaN  NaN
14                     NaN  NaN  NaN
16                     NaN  NaN  NaN
18                     NaN  NaN  NaN
20                     NaN  NaN  NaN
22                     NaN  NaN  NaN
24                     NaN  NaN  NaN
26                     NaN  NaN  NaN
28                     NaN  NaN  NaN
30                     NaN  NaN  NaN
32                     NaN  NaN  NaN
34                     NaN  NaN  NaN
36                     NaN  NaN  NaN
38                     NaN  NaN  NaN
40                     NaN  NaN  NaN
42                     NaN  NaN  NaN
44                     NaN  NaN  NaN
46                     NaN  NaN  NaN
48                     NaN  NaN  NaN
50                     NaN  NaN  NaN
52                     NaN  NaN  NaN
54                     NaN  NaN  NaN
56                     NaN  NaN  NaN
58                     NaN  NaN  NaN
60                     NaN  NaN  NaN
62                     NaN  NaN  NaN
64                     NaN  NaN  NaN