![](https://cartao.bemol.com.br/assets/img/logos/bemol.png)

# Desafio Final


### O projeto consiste em uma conciliação do valor total de vendas de recarga de celular por operadora e por loja. A Bemol recebe um arquivo de uma empresa financeira (detalhamento.xlsx) onde possui o valor consolidado de vendas e o objetivo é verificar se os dados do nosso banco de dados (vendas.csv) estão de acordo com o informado. Gerar um alerta caso os valores estejam divergentes.

### Dica:
### Os dados do SAP vêm separados por cada transição de venda realizada. A ideia é de agrupar esses dados para deixá-los no formato parecido com que recebemos da empresa externa e, assim, poder unificar as tabelas e fazer a comparação.
### * O formato final do relatório se encontra no arquivo de estória do usuário

### Importando as bibliotecas

![](https://i.pinimg.com/originals/a9/e1/30/a9e13016542fd09aa56a478b2753574a.gif)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importando o arquivo enviado pela empresa financeira

In [2]:
df_detalhamento = pd.read_excel("detalhamento.xlsx")

In [3]:
#Renomeando as colunas

df_detalhamento = df_detalhamento.rename(columns={'Unnamed: 0':'NomeFantasia', 'Unnamed: 1':'EscritorioVendas', 'Unnamed: 2':'UF', 'Unnamed: 3':'Operadora', 'Unnamed: 4':'Vlookup_Bruto'})

In [4]:
#Eliminando a primeira linha

df_detalhamento = df_detalhamento.drop(df_detalhamento[df_detalhamento.UF == 'UF'].index)

In [6]:
df_detalhamento.head(3)

    NomeFantasia EscritorioVendas  UF Operadora Vlookup_Bruto
1  BEMOL AVENIDA              103  AM     Claro          2651
2  BEMOL AVENIDA              103  AM        Oi          3309
3  BEMOL AVENIDA              103  AM       Tim          1550

### Importando os arquivos presentes na loja

### Estória do usuário

In [6]:
df_estoria = pd.read_excel("estoria_usuario.xlsx")

In [7]:
df_estoria

,loja,operadora,valor liquido,valor bruto,status,Unnamed: 5,Atividade,Status da Atividade
0,NaN,NaN,NaN,NaN,se valor liquido != valor bruto gerar mensage...,NaN,1. Leitura de arquivos,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,2. Tratamento de dados,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2.1. Renomear colunas,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,2.2. Verificar tipos,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,2.3. Deletar dados,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,3. Concatenar Tabelas,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,4. Correlação de Tabelas,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,5. Regra de Negócio,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,6. Exportar Dados,NaN

### Vendas

In [19]:
df_vendas = pd.read_csv("vendas.csv", sep="|")

In [20]:
df_vendas.head(5)

,Escritório de vendas,Fornecedor,Material,Data,Valor Liquido
0,101,Vivo,"131318 RECARGA VIRTUAL VIVO R$ 1,00",02.01.2020,20.0
1,101,Vivo,"131318 RECARGA VIRTUAL VIVO R$ 1,00",30.12.2019,10.0
2,101,Vivo,"131318 RECARGA VIRTUAL VIVO R$ 1,00",04.01.2020,20.0
3,101,Vivo,"131318 RECARGA VIRTUAL VIVO R$ 1,00",02.01.2020,10.0
4,101,Vivo,"131318 RECARGA VIRTUAL VIVO R$ 1,00",03.01.2020,25.0

In [21]:
#Renomeando as colunas

df_vendas.columns = ['EscritorioVendas', 'Fornecedor', 'Material', 'Data', 'ValorLiquido']

In [22]:
df_vendas.groupby(['EscritorioVendas']).sum()

                  ValorLiquido
EscritorioVendas
101                    7374.00
103                   12250.30
105                    5648.00
106                    9276.54
107                    8064.00
109                    4407.00
114                    5799.00
115                   12264.00
116                    4613.00
117                    5134.00
118                    4822.00
119                    8028.00
120                    2947.00
121                    5353.00
201                    3260.00
202                    3758.00
205                     123.00
206                     100.00
401                    1343.00
500                    7024.00
510                    1522.00
520                    1571.00
530                     302.00
601                    1871.00
602                    8709.00
603                    5392.00
604                    9467.00
605                    3695.00
606                     436.00
607                    8578.00
608                     757.30
609                     726.00
610                    2335.00
611                    2446.00
612                    1273.00
613                     259.00
614                     682.00
615                     897.00
616                     641.00
617                    2113.00
618                    1021.00
701                     599.00