![](https://cartao.bemol.com.br/assets/img/logos/bemol.png)

# Desafio Final

![](https://pivot-video.webnode.com.br/_files/200000024-edf9ceef09/Luta%20Marrom%20VS%20Preto.gif)

### Importando as bibliotecas

![](https://i.pinimg.com/originals/a9/e1/30/a9e13016542fd09aa56a478b2753574a.gif)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importando o arquivo enviado pela empresa financeira

In [9]:
df_detalhamento = pd.read_excel("detalhamento.xlsx")

In [13]:
#Renomeando as colunas

df_detalhamento = df_detalhamento.rename(columns={'Unnamed: 0':'NomeFantasia', 'Unnamed: 1':'EscritorioVendas', 'Unnamed: 2':'UF', 'Unnamed: 3':'Operadora', 'Unnamed: 4':'Vlookup_Bruto'})

In [15]:
df_detalhamento.head(5)

    NomeFantasia      EscritorioVendas  UF  Operadora  Vlookup_Bruto
0   NomeFantasia  Escritório de vendas  UF  Operadora  Vlookup Bruto
1  BEMOL AVENIDA                   103  AM      Claro           2651
2  BEMOL AVENIDA                   103  AM         Oi           3309
3  BEMOL AVENIDA                   103  AM        Tim           1550
4  BEMOL AVENIDA                   103  AM       Vivo           4739