![](https://cartao.bemol.com.br/assets/img/logos/bemol.png)

# Desafio Final

![](https://pivot-video.webnode.com.br/_files/200000024-edf9ceef09/Luta%20Marrom%20VS%20Preto.gif)

### Importando as bibliotecas

![](https://i.pinimg.com/originals/a9/e1/30/a9e13016542fd09aa56a478b2753574a.gif)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importando o arquivo enviado pela empresa financeira

In [9]:
df_detalhamento = pd.read_excel("detalhamento.xlsx")

In [13]:
#Renomeando as colunas

df_detalhamento = df_detalhamento.rename(columns={'Unnamed: 0':'NomeFantasia', 'Unnamed: 1':'EscritorioVendas', 'Unnamed: 2':'UF', 'Unnamed: 3':'Operadora', 'Unnamed: 4':'Vlookup_Bruto'})

In [15]:
df_detalhamento.head(5)

    NomeFantasia      EscritorioVendas  UF  Operadora  Vlookup_Bruto
0   NomeFantasia  Escrit贸rio de vendas  UF  Operadora  Vlookup Bruto
1  BEMOL AVENIDA                   103  AM      Claro           2651
2  BEMOL AVENIDA                   103  AM         Oi           3309
3  BEMOL AVENIDA                   103  AM        Tim           1550
4  BEMOL AVENIDA                   103  AM       Vivo           4739

In [31]:
df_detalhamento_filtro = df_detalhamento[df_detalhamento['NomeFantasia'] == 'NomeFantasia']

In [50]:
df_detalhamento.filter(like="0", axis=0)

,NomeFantasia,EscritorioVendas,UF,Operadora,Vlookup_Bruto
0,NomeFantasia,Escrit贸rio de vendas,UF,Operadora,Vlookup Bruto
10,BEMOL CAMAPUA,118,AM,Oi,1045
20,BEMOL EDUCANDOS,105,AM,Vivo,1943
30,BEMOL FARMA DJALMA,615,AM,Oi,225
40,BEMOL FARMA ITACOATIARA,611,AM,Vivo,1658
50,BEMOL FARMA MILLENNIUM,608,AM,Oi,95
60,BEMOL FARMA PONTA NEGRA,617,AM,Vivo,793
70,BEMOL FARMA STUDIO 5,618,AM,Tim,85
80,BEMOL ITACOATIARA,510,AM,Claro,165
90,BEMOL MANAUARA SHOPPING,119,AM,Vivo,2694
100,BEMOL NOVA CIDADE,121,AM,Oi,1115
101,BEMOL NOVA CIDADE,121,AM,Tim,685
102,BEMOL NOVA CIDADE,121,AM,Vivo,2423
103,BEMOL PONTA NEGRA,114,AM,Claro,670
104,BEMOL PONTA NEGRA,114,AM,Oi,1720
105,BEMOL PONTA NEGRA,114,AM,Tim,865
106,BEMOL PONTA NEGRA,114,AM,Vivo,2544
107,BEMOL PRESIDENTE FIGUEIREDO,530,AM,Claro,50
108,BEMOL PRESIDENTE FIGUEIREDO,530,AM,Oi,155
109,BEMOL PRESIDENTE FIGUEIREDO,530,AM,Tim,20
110,BEMOL PRESIDENTE FIGUEIREDO,530,AM,Vivo,77
120,BEMOL STUDIO 5,116,AM,Oi,1180