![](https://cartao.bemol.com.br/assets/img/logos/bemol.png)

# Desafio Final

![](https://pivot-video.webnode.com.br/_files/200000024-edf9ceef09/Luta%20Marrom%20VS%20Preto.gif)

### Importando as bibliotecas

![](https://i.pinimg.com/originals/a9/e1/30/a9e13016542fd09aa56a478b2753574a.gif)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importando o arquivo enviado pela empresa financeira

In [4]:
df_detalhamento = pd.read_excel("detalhamento.xlsx")

In [5]:
df_detalhamento

         Unnamed: 0            Unnamed: 1 Unnamed: 2 Unnamed: 3     Unnamed: 4
0      NomeFantasia  Escritório de vendas         UF  Operadora  Vlookup Bruto
1     BEMOL AVENIDA                   103         AM      Claro           2651
2     BEMOL AVENIDA                   103         AM         Oi           3309
3     BEMOL AVENIDA                   103         AM        Tim           1550
4     BEMOL AVENIDA                   103         AM       Vivo           4739
..              ...                   ...        ...        ...            ...
122  BEMOL STUDIO 5                   116         AM       Vivo           2144
123  BEMOL TORQUATO                   500         AM      Claro           1838
124  BEMOL TORQUATO                   500         AM         Oi            875
125  BEMOL TORQUATO                   500         AM        Tim            560
126  BEMOL TORQUATO                   500         AM       Vivo           3751

[127 rows x 5 columns]