# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

### Update e Delete

In [7]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('dsa.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
      
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2016', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 70.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicos
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])  
        
# Update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 70.00 WHERE valor = 98.0")
    conn.commit()
    
# Delete
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 62.0")
    conn.commit()

In [5]:
atualiza_dados()

In [6]:
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2018-04-18 15:32:15.064730', 'Monitor', 52.0)
(12, '2018-04-18 15:32:16.074631', 'Monitor', 70.0)
(13, '2018-04-18 15:32:17.083495', 'Monitor', 94.0)
(14, '2018-04-18 15:32:18.092251', 'Monitor', 64.0)
(15, '2018-04-18 15:32:19.100759', 'Monitor', 74.0)
(16, '2018-04-18 15:32:20.112758', 'Monitor', 62.0)
(17, '2018-04-18 15:32:21.120451', 'Monitor', 86.0)
(18, '2018-04-18 15:32:22.130355', 'Monitor', 57.0)
(19, '2018-04-18 15:32:23.140021', 'Monitor', 53.0)
(20, '2018-04-18 15:32:24.150483', 'Monitor', 78.0)

In [8]:
remove_dados()

In [9]:
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2018-04-18 15:32:15.064730', 'Monitor', 52.0)
(12, '2018-04-18 15:32:16.074631', 'Monitor', 70.0)
(13, '2018-04-18 15:32:17.083495', 'Monitor', 94.0)
(14, '2018-04-18 15:32:18.092251', 'Monitor', 64.0)
(15, '2018-04-18 15:32:19.100759', 'Monitor', 74.0)
(17, '2018-04-18 15:32:21.120451', 'Monitor', 86.0)
(18, '2018-04-18 15:32:22.130355', 'Monitor', 57.0)
(19, '2018-04-18 15:32:23.140021', 'Monitor', 53.0)
(20, '2018-04-18 15:32:24.150483', 'Monitor', 78.0)

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>