![](https://www.i9treinamentos.com/wp-content/uploads/elementor/thumbs/A-pandemia-de-Coronav%C3%ADrus-e-o-pandem%C3%B4nio-na-economia-omnnp6emx1qczr92vjwhtnoa1impqfrsl3zkw6c5g4.gif)

### Fonte dos dados: https://covid.saude.gov.br/
### Secretarias Estaduais de Saúde. Brasil, 2020

![](https://covid.saude.gov.br/assets/imgs/logo-app.png)

### Importando as bibliotecas necessárias

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Importando a base de dados

In [3]:
df_covid = pd.read_excel("data/arquivo_geral.xlsx", sep=";")

In [4]:
df_covid

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,obitosAcumulado,Recuperadosnovos,emAcompanhamentoNovos
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,0,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,0,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-01,10,210147125.0,2,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99779,Centro-Oeste,DF,NaN,53,5300108.0,NaN,NaN,2020-05-15,20,NaN,3787,55,NaN,NaN
99780,Centro-Oeste,DF,NaN,53,5300108.0,NaN,NaN,2020-05-16,20,NaN,4140,56,NaN,NaN
99781,Centro-Oeste,DF,NaN,53,5300108.0,NaN,NaN,2020-05-17,21,NaN,4368,59,NaN,NaN
99782,Centro-Oeste,DF,NaN,53,5300108.0,NaN,NaN,2020-05-18,21,NaN,4619,66,NaN,NaN
99783,Centro-Oeste,DF,NaN,53,5300108.0,NaN,NaN,2020-05-19,21,NaN,4853,72,NaN,NaN

In [26]:
df_estados = pd.read_excel("data/estados_brasil.xlsx")

In [27]:
df_estados

,IBGE,Estado,UF,Região,Qtd Mun,Sintaxe,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,11,Rondônia,RO,Região Norte,52,11'RO',NaN,NaN,PROCV(A2;'Lista de Estados IBGE'!$A$2:$C$28;2;0)
1,12,Acre,AC,Região Norte,22,12'AC',NaN,NaN,NaN
2,13,Amazonas,AM,Região Norte,62,13'AM',NaN,NaN,NaN
3,14,Roraima,RR,Região Norte,15,14'RR',NaN,NaN,NaN
4,15,Pará,PA,Região Norte,144,15'PA',NaN,NaN,NaN
5,16,Amapá,AP,Região Norte,16,16'AP',NaN,NaN,NaN
6,17,Tocantins,TO,Região Norte,139,17'TO',NaN,NaN,NaN
7,21,Maranhão,MA,Região Nordeste,217,21'MA',NaN,NaN,NaN
8,22,Piauí,PI,Região Nordeste,224,22'PI',NaN,NaN,NaN
9,23,Ceará,CE,Região Nordeste,184,23'CE',NaN,NaN,NaN
10,24,Rio Grande do Norte,RN,Região Nordeste,167,24'RN',NaN,NaN,NaN
11,25,Paraíba,PB,Região Nordeste,223,25'PB',NaN,NaN,NaN
12,26,Pernambuco,PE,Região Nordeste,185,26'PE',NaN,NaN,NaN
13,27,Alagoas,AL,Região Nordeste,102,27'AL',NaN,NaN,NaN
14,28,Sergipe,SE,Região Nordeste,75,28'SE',NaN,NaN,NaN
15,29,Bahia,BA,Região Nordeste,417,29'BA',NaN,NaN,NaN
16,31,Minas Gerais,MG,Região Sudeste,853,31'MG',NaN,NaN,NaN
17,32,Espírito Santo,ES,Região Sudeste,78,32'ES',NaN,NaN,NaN
18,33,Rio de Janeiro,RJ,Região Sudeste,92,33'RJ',NaN,NaN,NaN
19,35,São Paulo,SP,Região Sudeste,645,35'SP',NaN,NaN,NaN
20,41,Paraná,PR,Região Sul,399,41'PR',NaN,NaN,NaN
21,42,Santa Catarina,SC,Região Sul,295,42'SC',NaN,NaN,NaN
22,43,Rio Grande do Sul,RS,Região Sul,497,43'RS',NaN,NaN,NaN
23,50,Mato Grosso do Sul,MS,Região Centro-Oeste,79,50'MS',NaN,NaN,NaN
24,51,Mato Grosso,MT,Região Centro-Oeste,141,51'MT',NaN,NaN,NaN
25,52,Goiás,GO,Região Centro-Oeste,246,52'GO',NaN,NaN,NaN
26,53,Distrito Federal,DF,Região Centro-Oeste,1,53'DF',NaN,NaN,NaN

In [11]:
df_estados.rename(columns={'COD':'cod', 'NOME':'nome', 'SIGLA':'sigla'})

    cod                 nome sigla
0    35            São Paulo    SP
1    41               Paraná    PR
2    42       Santa Catarina    SC
3    43    Rio Grande do Sul    RS
4    50   Mato Grosso do Sul    MS
5    11             Rondônia    RO
6    12                 Acre    AC
7    13             Amazonas    AM
8    14              Roraima    RR
9    15                 Pará    PA
10   16                Amapá    AP
11   17            Tocantins    TO
12   21             Maranhão    MA
13   24  Rio Grande do Norte    RN
14   25              Paraíba    PB
15   26           Pernambuco    PE
16   27              Alagoas    AL
17   28              Sergipe    SE
18   29                Bahia    BA
19   31         Minas Gerais    MG
20   33       Rio de Janeiro    RJ
21   51          Mato Grosso    MT
22   52                Goiás    GO
23   53     Distrito Federal    DF
24   22                Piauí    PI
25   23                Ceará    CE
26   32       Espírito Santo    ES