In [1]:
import pandas as pd
import numpy as np

In [17]:
df_covid = pd.read_fwf("data/covidData.txt", sep=",", header=None, delimiter="\n")

In [18]:
df_covid

                                                      0
0      2020-02-24T00:00:00Z,AF,Afghanistan,EMRO,1,1,0,0
1      2020-02-25T00:00:00Z,AF,Afghanistan,EMRO,0,1,0,0
2      2020-02-26T00:00:00Z,AF,Afghanistan,EMRO,0,1,0,0
3      2020-02-27T00:00:00Z,AF,Afghanistan,EMRO,0,1,0,0
4      2020-02-28T00:00:00Z,AF,Afghanistan,EMRO,0,1,0,0
...                                                 ...
17700    2020-05-23T00:00:00Z,ZW,Zimbabwe,AFRO,0,51,0,4
17701    2020-05-24T00:00:00Z,ZW,Zimbabwe,AFRO,5,56,0,4
17702    2020-05-25T00:00:00Z,ZW,Zimbabwe,AFRO,0,56,0,4
17703    2020-05-26T00:00:00Z,ZW,Zimbabwe,AFRO,0,56,0,4
17704    2020-05-27T00:00:00Z,ZW,Zimbabwe,AFRO,0,56,0,4

[17705 rows x 1 columns]