In [8]:
#Importando as bibliotecas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier

In [12]:
#Importando as bases

#Dados de teste
df_test = pd.read_csv("data/test.csv")
#Dados de treino
df_train = pd.read_csv("data/train.csv")
#Dados relacionados aos gêneros
df_gender = pd.read_csv("data/gender_submission.csv")

In [13]:
#Função para converter os valores de Sex para variáveis binárias

def sex_binario(x):
    if x == "male":
        return 0
    elif x == "female":
        return 1

In [14]:
#Gera uma nova coluna com os valores Sex como binários

df_train['SexBinario'] = df_train['Sex'].map(sex_binario)

In [15]:
#Removendo as features desnecessárias

df_test.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
df_train.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [16]:
df_train.head(2)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,SexBinario
0,1,0,3,male,22.0,1,0,7.2500,S,0
1,2,1,1,female,38.0,1,0,71.2833,C,1

### Referências

### https://paulovasconcellos.com.br/competicao-kaggle-titanic-tutorial-5b11993774f7

### https://www.youtube.com/watch?v=1UVizW6eFrY