In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier

In [2]:
df_test = pd.read_csv("data/test.csv")

In [4]:
df_train = pd.read_csv("data/train.csv")

In [5]:
df_gender = pd.read_csv("data/gender_submission.csv")

In [9]:
df_train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [12]:
def sex_binario(x):
    if x == "male":
        return 0
    elif x == "female":
        return 1

In [14]:
#Gera uma nova coluna com os valores Sex como bin√°rios

df_train['SexBinario'] = df_train['Sex'].map(sex_binario)