![](https://media1.tenor.com/images/09190fd743ff2f962bdfd57987efc67f/tenor.gif?itemid=17055695)

### Fonte dos dados: https://brasil.io/covid19/

![](https://files.adventistas.org/institucional/pt/sites/19/2020/03/covid19.jpg)

### Importando as bibliotecas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
#Carregando os dados

df_covid = pd.read_csv("https://brasil.io/dataset/covid19/caso?format=csv", sep=",", encoding="utf8")

In [16]:
#Renomeando as colunas

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-05-30,AL,Anadia,city,31,1,True,17545.0,2700201.0,176.68852,0.0323
1,2020-05-30,AL,Arapiraca,city,324,12,True,231747.0,2700300.0,139.80764,0.0370
2,2020-05-30,AL,Atalaia,city,149,3,True,47185.0,2700409.0,315.77832,0.0201
3,2020-05-30,AL,Barra de Santo Antônio,city,18,2,True,15932.0,2700508.0,112.98017,0.1111
4,2020-05-30,AL,Barra de São Miguel,city,20,1,True,8322.0,2700607.0,240.32684,0.0500
...,...,...,...,...,...,...,...,...,...,...,...
136854,2020-02-27,SP,NaN,state,1,0,False,45919049.0,35.0,0.00218,0.0000
136855,2020-02-26,SP,São Paulo,city,1,0,False,12252023.0,3550308.0,0.00816,0.0000
136856,2020-02-26,SP,NaN,state,1,0,False,45919049.0,35.0,0.00218,0.0000
136857,2020-02-25,SP,São Paulo,city,1,0,False,12252023.0,3550308.0,0.00816,0.0000
136858,2020-02-25,SP,NaN,state,1,0,False,45919049.0,35.0,0.00218,0.0000