In [1]:
# Função para mostar todo o display do DataFrame, sem as '...'

# def display_all(df):
#   with pd.option_context("display.max_rows", None, "display.max_columns", None):
#         print(df)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split

In [3]:
pd.set_option("display.float_format", lambda x : "%.3f" % x)

In [4]:
candidatos_2014 = pd.read_csv("data/consulta_cand_2014_BRASIL.csv", low_memory=False, sep=';', encoding='latin', parse_dates=["DT_GERACAO"])

In [17]:
candidatos_2018 = pd.read_csv("data/consulta_cand_2018_BRASIL.csv", low_memory=False, sep=';', encoding='latin', parse_dates=["DT_GERACAO"])

# Linhas para categorizar as variáveis do DataSet.

In [5]:
from pandas.api.types import is_string_dtype

for n,c in candidatos_2014.items():
    if is_string_dtype(c): candidatos_2014[n] = c.astype('category').cat.as_ordered()

In [9]:
from pandas.api.types import is_string_dtype

for n,c in candidatos_2018.items():
    if is_string_dtype(c): candidatos_2018[n] = c.astype('category').cat.as_ordered()

NameError: name 'candidatos_2018' is not defined

In [6]:
candidatos_2014.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,DS_COR_RACA,CD_OCUPACAO,DS_OCUPACAO,NR_DESPESA_MAX_CAMPANHA,CD_SIT_TOT_TURNO,DS_SIT_TOT_TURNO,ST_REELEICAO,ST_DECLARAR_BENS,NR_PROTOCOLO_CANDIDATURA,NR_PROCESSO
0,2018-09-20,09:50:32,2014,2,ELEIÇÃO ORDINÁRIA,1,143,Eleições Gerais 2014,05/10/2014,FEDERAL,...,BRANCA,276,SENADOR,36000000,4,NÃO ELEITO,N,S,292452014,9117120146160000
1,2018-09-20,09:50:32,2014,2,ELEIÇÃO ORDINÁRIA,1,143,Eleições Gerais 2014,05/10/2014,FEDERAL,...,PARDA,999,OUTROS,20000000,4,NÃO ELEITO,N,N,101272014,9721920146020000
2,2018-09-20,09:50:32,2014,2,ELEIÇÃO ORDINÁRIA,1,143,Eleições Gerais 2014,05/10/2014,FEDERAL,...,BRANCA,999,OUTROS,2000000,5,SUPLENTE,N,N,763742014,12808120146190000
3,2018-09-20,09:50:32,2014,2,ELEIÇÃO ORDINÁRIA,1,143,Eleições Gerais 2014,05/10/2014,FEDERAL,...,BRANCA,131,ADVOGADO,5000000,5,SUPLENTE,N,S,775172014,24871820146190000
4,2018-09-20,09:50:32,2014,2,ELEIÇÃO ORDINÁRIA,1,143,Eleições Gerais 2014,05/10/2014,FEDERAL,...,BRANCA,266,PROFESSOR DE ENSINO MÉDIO,1000000,5,SUPLENTE,N,N,762962014,30501220146190000

In [7]:
candidatos_2018.head().T

NameError: name 'candidatos_2018' is not defined

# Eleições 2014

## Quantidade de candidatos?

In [8]:
candidatos_2014['NM_CANDIDATO'].count()

26264

## Quantidade de candidatos por gênero?

In [9]:
candidatos_2014.groupby(['DS_GENERO'])['NM_CANDIDATO'].count()

DS_GENERO
FEMININO      8139
MASCULINO    18125
Name: NM_CANDIDATO, dtype: int64

## Qual o grau de instrução dos candidatos por gênero?

In [10]:
temp = candidatos_2014.groupby(['DS_GENERO', 'DS_GRAU_INSTRUCAO'])['NM_CANDIDATO'].count().reset_index(name='DS_GENERO_GRAU_INSTRUCAO')
temp

    DS_GENERO              DS_GRAU_INSTRUCAO  DS_GENERO_GRAU_INSTRUCAO
0    FEMININO    ENSINO FUNDAMENTAL COMPLETO                       557
1    FEMININO  ENSINO FUNDAMENTAL INCOMPLETO                       271
2    FEMININO          ENSINO MÉDIO COMPLETO                      2773
3    FEMININO        ENSINO MÉDIO INCOMPLETO                       296
4    FEMININO                   LÊ E ESCREVE                       112
5    FEMININO              SUPERIOR COMPLETO                      3286
6    FEMININO            SUPERIOR INCOMPLETO                       844
7   MASCULINO    ENSINO FUNDAMENTAL COMPLETO                      1346
8   MASCULINO  ENSINO FUNDAMENTAL INCOMPLETO                       615
9   MASCULINO          ENSINO MÉDIO COMPLETO                      5098
10  MASCULINO        ENSINO MÉDIO INCOMPLETO                       542
11  MASCULINO                   LÊ E ESCREVE                       150
12  MASCULINO              SUPERIOR COMPLETO                      8645
13  MASCULINO            SUPERIOR INCOMPLETO                      1729

In [11]:
temp[temp['DS_GENERO'] == 'FEMININO'].sort_values(ascending=False, by='DS_GENERO_GRAU_INSTRUCAO' )

  DS_GENERO              DS_GRAU_INSTRUCAO  DS_GENERO_GRAU_INSTRUCAO
5  FEMININO              SUPERIOR COMPLETO                      3286
2  FEMININO          ENSINO MÉDIO COMPLETO                      2773
6  FEMININO            SUPERIOR INCOMPLETO                       844
0  FEMININO    ENSINO FUNDAMENTAL COMPLETO                       557
3  FEMININO        ENSINO MÉDIO INCOMPLETO                       296
1  FEMININO  ENSINO FUNDAMENTAL INCOMPLETO                       271
4  FEMININO                   LÊ E ESCREVE                       112

In [12]:
temp[temp['DS_GENERO'] == 'MASCULINO'].sort_values(ascending=False, by='DS_GENERO_GRAU_INSTRUCAO' )

    DS_GENERO              DS_GRAU_INSTRUCAO  DS_GENERO_GRAU_INSTRUCAO
12  MASCULINO              SUPERIOR COMPLETO                      8645
9   MASCULINO          ENSINO MÉDIO COMPLETO                      5098
13  MASCULINO            SUPERIOR INCOMPLETO                      1729
7   MASCULINO    ENSINO FUNDAMENTAL COMPLETO                      1346
8   MASCULINO  ENSINO FUNDAMENTAL INCOMPLETO                       615
10  MASCULINO        ENSINO MÉDIO INCOMPLETO                       542
11  MASCULINO                   LÊ E ESCREVE                       150

# DESAFIO:
# Prever a quantidade de eleitos/outros por Cargos. (DS_SIT_TOT_TURNO)

In [13]:
candidatos_2014[['NR_DESPESA_MAX_CAMPANHA', 'CD_GENERO', 'CD_GRAU_INSTRUCAO', 'NR_IDADE_DATA_POSSE', 'CD_ESTADO_CIVIL', 'CD_COR_RACA']].describe()

,NR_DESPESA_MAX_CAMPANHA,CD_GENERO,CD_GRAU_INSTRUCAO,NR_IDADE_DATA_POSSE,CD_ESTADO_CIVIL,CD_COR_RACA
count,26264.000,26264.000,26264.000,26264.000,26264.000,26264.000
mean,2492303.064,2.620,6.689,47.171,3.119,1.819
std,5239804.836,0.925,1.492,11.430,2.300,0.956
min,-1.000,2.000,2.000,18.000,1.000,1.000
25%,700000.000,2.000,6.000,39.000,1.000,1.000
50%,2000000.000,2.000,7.000,47.000,3.000,1.000
75%,3000000.000,4.000,8.000,55.000,3.000,3.000
max,383000000.000,4.000,8.000,92.000,9.000,5.000

## Variaveis do KNN (X e y)

In [14]:
candidatos_2014[['ST_REELEICAO', 'NR_DESPESA_MAX_CAMPANHA', 'DS_GENERO', 'DS_GRAU_INSTRUCAO', 'NR_IDADE_DATA_POSSE', 'DS_ESTADO_CIVIL', 'DS_COR_RACA', 'DS_SIT_TOT_TURNO']]

,ST_REELEICAO,NR_DESPESA_MAX_CAMPANHA,DS_GENERO,DS_GRAU_INSTRUCAO,NR_IDADE_DATA_POSSE,DS_ESTADO_CIVIL,DS_COR_RACA,DS_SIT_TOT_TURNO
0,N,36000000,FEMININO,SUPERIOR COMPLETO,49,DIVORCIADO(A),BRANCA,NÃO ELEITO
1,N,20000000,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,50,CASADO(A),PARDA,NÃO ELEITO
2,N,2000000,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,46,DIVORCIADO(A),BRANCA,SUPLENTE
3,N,5000000,FEMININO,SUPERIOR COMPLETO,74,SOLTEIRO(A),BRANCA,SUPLENTE
4,N,1000000,FEMININO,SUPERIOR COMPLETO,48,CASADO(A),BRANCA,SUPLENTE
...,...,...,...,...,...,...,...,...
26259,N,3000000,MASCULINO,SUPERIOR COMPLETO,52,SOLTEIRO(A),PARDA,SUPLENTE
26260,N,4500000,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,59,CASADO(A),BRANCA,SUPLENTE
26261,N,3000000,FEMININO,SUPERIOR INCOMPLETO,41,CASADO(A),BRANCA,SUPLENTE
26262,N,1200000,FEMININO,SUPERIOR COMPLETO,27,SOLTEIRO(A),BRANCA,SUPLENTE
26263,N,4000000,MASCULINO,ENSINO MÉDIO COMPLETO,40,DIVORCIADO(A),BRANCA,SUPLENTE

## Variável resultado (y_chapeu)

In [15]:
candidatos_2014.groupby(['DS_SIT_TOT_TURNO'])['DS_SIT_TOT_TURNO'].count()

DS_SIT_TOT_TURNO
#NULO#               3280
2º TURNO               60
ELEITO                143
ELEITO POR MÉDIA      215
ELEITO POR QP        1357
NÃO ELEITO           4992
SUPLENTE            16217
Name: DS_SIT_TOT_TURNO, dtype: int64

In [16]:
candidatos_2014['DS_SIT_TOT_TURNO'].nunique()

7

In [17]:
candidatos_2014['DS_SIT_TOT_TURNO'].count()

26264

In [18]:
candidatos_2014['DS_SIT_TOT_TURNO'].count() / candidatos_2014['DS_SIT_TOT_TURNO'].nunique()

3752.0

In [19]:
candidatos_2014[candidatos_2014['DS_SIT_TOT_TURNO'] != 'SUPLENTE']['DS_SIT_TOT_TURNO'].nunique()

6

In [20]:
candidatos_2014[candidatos_2014['DS_SIT_TOT_TURNO'] != 'SUPLENTE']['DS_SIT_TOT_TURNO'].count()

10047

In [21]:
candidatos_2014[candidatos_2014['DS_SIT_TOT_TURNO'] != 'SUPLENTE']['DS_SIT_TOT_TURNO'].count() / candidatos_2014[candidatos_2014['DS_SIT_TOT_TURNO'] != 'SUPLENTE']['DS_SIT_TOT_TURNO'].nunique()

1674.5

# Usando KNN

In [22]:
X = candidatos_2014[(candidatos_2014['DS_CARGO'] != 'PRESIDENTE')&(candidatos_2014['DS_CARGO'] != 'VICE-PRESIDENTE')][['ST_REELEICAO','NR_DESPESA_MAX_CAMPANHA']]

In [23]:
X['ST_REELEICAO'] = X['ST_REELEICAO'].cat.rename_categories([0,1])

In [24]:
y = candidatos_2014[(candidatos_2014['DS_CARGO'] != 'PRESIDENTE')&(candidatos_2014['DS_CARGO'] != 'VICE-PRESIDENTE')]['DS_SIT_TOT_TURNO']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors= 1674, weights='distance')

# Train the model using the training sets
model.fit(X_train, np.array(y_train))

#Predict Output
predicted= model.predict(X_test) # 0:Overcast, 2:Mild
print(predicted)

['SUPLENTE' 'SUPLENTE' 'SUPLENTE' ... '#NULO#' 'SUPLENTE' 'SUPLENTE']

In [27]:
y_test

2650          SUPLENTE
6056          SUPLENTE
1249          SUPLENTE
15987         SUPLENTE
20772    ELEITO POR QP
             ...
5411          SUPLENTE
12592         SUPLENTE
8940            #NULO#
3202          SUPLENTE
5261     ELEITO POR QP
Name: DS_SIT_TOT_TURNO, Length: 8658, dtype: category
Categories (7, object): [#NULO# < 2º TURNO < ELEITO < ELEITO POR MÉDIA < ELEITO POR QP < NÃO ELEITO < SUPLENTE]

In [28]:
novo_y_test = np.array(y_test)
novo_y_test

array(['SUPLENTE', 'SUPLENTE', 'SUPLENTE', ..., '#NULO#', 'SUPLENTE',
       'ELEITO POR QP'], dtype=object)

In [29]:
predicted

array(['SUPLENTE', 'SUPLENTE', 'SUPLENTE', ..., '#NULO#', 'SUPLENTE',
       'SUPLENTE'], dtype=object)

# Taxa de acerto (KNN)

In [30]:
1 - sum([y != p for y, p in zip(novo_y_test, predicted)]) /len(predicted)

0.782975282975283

# Usando Navi Bayes

In [31]:
X = candidatos_2014[(candidatos_2014['DS_CARGO'] != 'PRESIDENTE')&(candidatos_2014['DS_CARGO'] != 'VICE-PRESIDENTE')][['ST_REELEICAO','NR_DESPESA_MAX_CAMPANHA']]

In [32]:
y = candidatos_2014[(candidatos_2014['DS_CARGO'] != 'PRESIDENTE')&(candidatos_2014['DS_CARGO'] != 'VICE-PRESIDENTE')]['DS_SIT_TOT_TURNO']

In [33]:
X['ST_REELEICAO'] = X['ST_REELEICAO'].cat.rename_categories([0,1])

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [35]:
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [36]:
y_pred

array(['SUPLENTE', 'SUPLENTE', 'SUPLENTE', ..., '#NULO#', 'SUPLENTE',
       'SUPLENTE'], dtype='<U16')

In [37]:
novo_y_test = np.array(y_test)
novo_y_test

array(['SUPLENTE', 'SUPLENTE', 'SUPLENTE', ..., '#NULO#', 'SUPLENTE',
       'ELEITO POR QP'], dtype=object)

# Taxa de acerto (Navi Bayes)

In [38]:
1 - sum([y != p for y, p in zip(novo_y_test, y_pred)]) /len(y_pred)

0.7428967428967429

# Usando Random Forest

In [39]:
import pandas as pd
import numpy as np
from fastaai_utils import add_datepart, train_cats, proc_df
import os
import math
from sklearn.ensemble import RandomForestRegressor

ModuleNotFoundError: No module named 'fastaai_utils'

In [41]:
candidatos_2014.head().T[:5]

,0,1,2,3,4
DT_GERACAO,2018-09-20 00:00:00,2018-09-20 00:00:00,2018-09-20 00:00:00,2018-09-20 00:00:00,2018-09-20 00:00:00
HH_GERACAO,09:50:32,09:50:32,09:50:32,09:50:32,09:50:32
ANO_ELEICAO,2014,2014,2014,2014,2014
CD_TIPO_ELEICAO,2,2,2,2,2
NM_TIPO_ELEICAO,ELEIÇÃO ORDINÁRIA,ELEIÇÃO ORDINÁRIA,ELEIÇÃO ORDINÁRIA,ELEIÇÃO ORDINÁRIA,ELEIÇÃO ORDINÁRIA

# Escolha das variáveis do modelo Random Forest

In [46]:
modelo_tratamento = candidatos_2014[['NR_TURNO', 'TP_ABRANGENCIA','NM_UE','CD_CARGO','TP_AGREMIACAO', 'NR_PARTIDO', 'NR_IDADE_DATA_POSSE', 'CD_GENERO', 'CD_GRAU_INSTRUCAO', 'CD_ESTADO_CIVIL','CD_COR_RACA', 'NR_DESPESA_MAX_CAMPANHA', 'CD_SIT_TOT_TURNO','ST_REELEICAO']]

In [47]:
modelo_random = modelo_tratamento[modelo_tratamento['NR_DESPESA_MAX_CAMPANHA'] > 0]

In [48]:
import pandas as pd
import numpy as np
from fastaai_utils import add_datepart, train_cats, proc_df
import os
import math
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [49]:
df_raw = modelo_random

In [50]:
df_raw.head().T

,0,1,2,3,4
NR_TURNO,1,1,1,1,1
TP_ABRANGENCIA,FEDERAL,FEDERAL,FEDERAL,FEDERAL,FEDERAL
NM_UE,PARANÁ,ALAGOAS,RIO DE JANEIRO,RIO DE JANEIRO,RIO DE JANEIRO
CD_CARGO,3,7,7,7,7
TP_AGREMIACAO,COLIGAÇÃO,PARTIDO ISOLADO,COLIGAÇÃO,PARTIDO ISOLADO,COLIGAÇÃO
NR_PARTIDO,13,36,36,31,25
NR_IDADE_DATA_POSSE,49,50,46,74,48
CD_GENERO,4,2,2,4,4
CD_GRAU_INSTRUCAO,8,4,3,8,8
CD_ESTADO_CIVIL,9,3,9,1,3
CD_COR_RACA,1,3,1,1,1
NR_DESPESA_MAX_CAMPANHA,36000000,20000000,2000000,5000000,1000000
CD_SIT_TOT_TURNO,4,4,5,5,5
ST_REELEICAO,N,N,N,N,N

In [51]:
df_raw.NR_DESPESA_MAX_CAMPANHA = np.log(df_raw.NR_DESPESA_MAX_CAMPANHA)

/home/marco/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

## Passando para 'int' as colunas 'string'

In [52]:
df_raw.ST_REELEICAO = df_raw.ST_REELEICAO.cat.codes

In [53]:
df_raw.TP_ABRANGENCIA = df_raw.TP_ABRANGENCIA.cat.codes

In [54]:
df_raw.NM_UE = df_raw.NM_UE.cat.codes

In [55]:
df_raw.TP_AGREMIACAO = df_raw.TP_AGREMIACAO.cat.codes

## Checar relação entre as variáveis

In [56]:
modelo = df_raw

In [58]:
modelo.corr()[:5]

,NR_TURNO,TP_ABRANGENCIA,NM_UE,CD_CARGO,TP_AGREMIACAO,NR_PARTIDO,NR_IDADE_DATA_POSSE,CD_GENERO,CD_GRAU_INSTRUCAO,CD_ESTADO_CIVIL,CD_COR_RACA,NR_DESPESA_MAX_CAMPANHA,CD_SIT_TOT_TURNO,ST_REELEICAO
NR_TURNO,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
TP_ABRANGENCIA,nan,1.000,0.031,0.116,-0.001,0.010,-0.004,0.003,-0.016,-0.001,-0.011,-0.042,0.004,0.004
NM_UE,nan,0.031,1.000,-0.129,0.229,-0.005,0.050,-0.005,0.000,0.031,-0.214,0.203,-0.000,0.004
CD_CARGO,nan,0.116,-0.129,1.000,0.020,0.025,-0.065,0.022,-0.086,-0.016,0.062,-0.169,0.147,-0.023
TP_AGREMIACAO,nan,-0.001,0.229,0.020,1.000,0.018,0.005,0.009,0.000,0.011,-0.060,-0.065,-0.061,-0.039

In [59]:
modelo.head().T[:5]

                    0     1      2      3      4
NR_TURNO        1.000 1.000  1.000  1.000  1.000
TP_ABRANGENCIA  1.000 1.000  1.000  1.000  1.000
NM_UE          14.000 1.000 19.000 19.000 19.000
CD_CARGO        3.000 7.000  7.000  7.000  7.000
TP_AGREMIACAO   0.000 1.000  0.000  1.000  0.000

# Modelo Random Forest Classifier

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [61]:
X = modelo.drop([['CD_SIT_TOT_TURNO', 'NR_TURNO','TP_ABRANGENCIA']], axis=1)

KeyError: "[('CD_SIT_TOT_TURNO', 'NR_TURNO', 'TP_ABRANGENCIA')] not found in axis"

In [62]:
y = modelo.CD_SIT_TOT_TURNO

In [63]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2,
                             random_state=0)

In [64]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [65]:
print(clf.feature_importances_)

[0.08159344 0.91840656]

In [66]:
predicted = clf.predict(X_test)

In [67]:
acerto = 1 - (sum([y != y_chapeu for y_chapeu, y in zip(predicted, y_test.values)]) / len(predicted))

In [68]:
acerto

0.7556017556017556

# Rodando KNN com as variáveis com maior peso após o Random Forest Classifier

In [69]:
X = candidatos_2014[(candidatos_2014['DS_CARGO'] != 'PRESIDENTE')&(candidatos_2014['DS_CARGO'] != 'VICE-PRESIDENTE')][['NR_DESPESA_MAX_CAMPANHA','ST_REELEICAO', 'CD_CARGO', 'TP_AGREMIACAO']]

In [70]:
X['ST_REELEICAO'] = X['ST_REELEICAO'].cat.rename_categories([0,1])

In [71]:
X.TP_AGREMIACAO = X.TP_AGREMIACAO.cat.codes

In [72]:
y = candidatos_2014[(candidatos_2014['DS_CARGO'] != 'PRESIDENTE')&(candidatos_2014['DS_CARGO'] != 'VICE-PRESIDENTE')]['DS_SIT_TOT_TURNO']

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [74]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors= 1674, weights='distance')

# Train the model using the training sets
model.fit(X_train, np.array(y_train))

#Predict Output
predicted= model.predict(X_test) # 0:Overcast, 2:Mild
print(predicted)

['SUPLENTE' 'SUPLENTE' 'SUPLENTE' ... '#NULO#' 'SUPLENTE' 'SUPLENTE']

In [75]:
novo_y_test = np.array(y_test)
novo_y_test

array(['SUPLENTE', 'SUPLENTE', 'SUPLENTE', ..., '#NULO#', 'SUPLENTE',
       'ELEITO POR QP'], dtype=object)

In [76]:
predicted

array(['SUPLENTE', 'SUPLENTE', 'SUPLENTE', ..., '#NULO#', 'SUPLENTE',
       'SUPLENTE'], dtype=object)

In [77]:
1 - sum([y != p for y, p in zip(novo_y_test, predicted)]) /len(predicted)

0.8255948255948256

In [78]:
%matplotlib inline
mport matplotlib
matplotlib.use('GTKAgg')

import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn import neighbors, datasets

n_neighbors = 6

# import some data to play with
iris = datasets.load_iris()

# prepare data
X = iris.data[:, :2]
y = iris.target
h = .02

# Create color maps
cmap_light = ListedColormap(['#FFAAAA', '#AAFFAA','#00AAFF'])
cmap_bold = ListedColormap(['#FF0000', '#00FF00','#00AAFF'])

# we create an instance of Neighbours Classifier and fit the data.
clf = neighbors.KNeighborsClassifier(n_neighbors, weights='distance')
clf.fit(X, y)

# calculate min, max and limits
x_min, x_max = X[:, 0].min() - 1, X[:, 0].max() + 1
y_min, y_max = X[:, 1].min() - 1, X[:, 1].max() + 1
xx, yy = np.meshgrid(np.arange(x_min, x_max, h),
np.arange(y_min, y_max, h))

# predict class using data and kNN classifier
Z = predicted

# Put the result into a color plot
Z = Z.reshape(xx.shape)
plt.figure()
plt.pcolormesh(xx, yy, Z, cmap=cmap_light)

# Plot also the training points
plt.scatter(X[:, 0], X[:, 1], c=y, cmap=cmap_bold)
plt.xlim(xx.min(), xx.max())
plt.ylim(yy.min(), yy.max())
plt.title("3-Class classification (k = %i)" % (n_neighbors))
plt.show()

SyntaxError: invalid syntax (<ipython-input-78-ae2704cab92e>, line 2)

# Eleições 2018

In [127]:
candidatos_2018['DS_GENERO'].count()

29145