In [4]:
import pandas as pd

In [34]:
import matplotlib.pyplot as plt

## Alunos

In [74]:
ds_alunos = pd.read_csv("Dados/alunos.csv", sep=",", encoding="ISO-8859-1")

In [75]:
print(ds_alunos.columns)

Index(['Nome', 'ano_nascimento', 'formacao'], dtype='object')

In [95]:
df = ds_alunos.groupby("ano_nascimento")['formacao'].nunique()

In [101]:
df[:20]

ano_nascimento
.com    1
0000    2
0619    1
1081    1
1087    1
1089    1
1092    1
1111    2
1112    1
1190    1
1195    1
1196    2
1197    1
1198    1
1898    1
1900    1
1901    1
1933    1
1944    1
1948    1
Name: formacao, dtype: int64

In [106]:
ds_alunos.head()

       Nome ano_nascimento         formacao
0     Diego           1990        doutorado
1     Diego           1990        Doutorado
2  Inaciano           1984  Ensino superior
3    Thiago           1990  Ensino superior
4     Hélio           1993     Ensino médio

In [116]:
ds_alunos['formacao'].nunique()

8

In [117]:
ds_alunos.count()

Nome              18667
ano_nascimento    18667
formacao          18667
dtype: int64

## Diplomas

In [30]:
ds_diplomas = pd.read_csv("Dados/diplomas.csv", sep=";", encoding="ISO-8859-1")

In [32]:
ds_diplomas[:30]

                  Nome_usuario,nome_evento,carga,data
0   Diego,Introdução ao Framework Bootstrap,30 MIN...
1   Diego,Introdução ao Framework Bootstrap,2H,30/...
2   Inaciano,Programação Web para Divulgação Cient...
3   Thiago,Introdução ao Framework Bootstrap,2H,31...
4   Hélio,Introdução à Linguagem HTML,30 MIN,31/05...
5   Evandro,Introdução ao Framework Bootstrap,2H,3...
6   Evandro,Introdução à Linguagem HTML,30 MIN,31/...
7   Evandro,Criação de Páginas de Internet Dinâmic...
8   Michel,Introdução à Linguagem HTML,30 MIN,02/0...
9   Cristiano,Introdução à Linguagem HTML,30 MIN,0...
10  Cristiano,Introdução à Linguagem HTML,30 MIN,0...
11  Lucas,Programação Web para Divulgação Científi...
12  Tarso,Introdução ao Framework Bootstrap,2H,04/...
13  Bruno,Introdução à Linguagem HTML,30 MIN,04/06...
14  Henrique,Introdução à Linguagem HTML,30 MIN,04...
15  Amauri,Introdução ao Framework Bootstrap,2H,05...
16  Percilia,Introdução à Linguagem HTML,30 MIN,05...
17  Bruno,Introdução à Linguagem HTML,30 MIN,05/06...
18  Bernardo,Introdução à Linguagem HTML,30 MIN,06...
19  Gabriel,Introdução ao Framework Bootstrap,2H,0...
20  Maxwell,Introdução à Programação para Bioinfor...
21  Iago,Introdução à Linguagem HTML,30 MIN,06/06/...
22  Nayra,Introdução à Linguagem HTML,30 MIN,07/06...
23  José,Introdução à Linguagem HTML,30 MIN,07/06/...
24  Rudson,Programação Web para Divulgação Científ...
25  Rudson,Programação Web para Divulgação Científ...
26  Luciano,Introdução à Linguagem HTML,30 MIN,08/...
27  João,Introdução à Linguagem HTML,30 MIN,09/06/...
28  José,Programação Web para Divulgação Científic...
29  Matheus,Introdução à Linguagem HTML,30 MIN,09/...

In [46]:
ds_diplomas.groupby([])

AttributeError: 'DataFrame' object has no attribute 'unique'