![title](https://i.pinimg.com/236x/ce/b4/18/ceb41806c3fcf8216de0086ade094e71.jpg)

### Prêmio France Football

### Importando as bibliotecas

In [1]:
#Importando as bibliotecas

import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from pandas.io.html import read_html
from IPython.display import clear_output

### Importando os dados

In [13]:
#Tratamento do site de onde os dados serão coletados

#Vencedores até 2009
site_1 = "https://www.ogol.com.br/award.php?id=1"
tabela_1 = read_html(site_1, decimal = ',', thousands = '.')

#Vencedores após 2015
site_2 = "https://www.ogol.com.br/award.php?id=1&id_evento=0&ano=0&mes=0&epoca=0&jornada=0&page=2"
tabela_2 = read_html(site_2, decimal = ',', thousands = '.')

#Vencedores entre 2010 e 2015
site_3 = "https://www.ogol.com.br/award.php?id=2"
tabela_3 = read_html(site_3, decimal = ',', thousands = '.')

In [4]:
#Armazenando os dados da primeira página em um dataframe

df_france_1 = pd.DataFrame(tabela_1[1])

In [14]:
df_france_1

     Ano               Vencedor                       Equipe  votos
0   2019           Lionel Messi                    Barcelona    687
1   2018            Luka Modric                  Real Madrid    753
2   2017      Cristiano Ronaldo                  Real Madrid    946
3   2016      Cristiano Ronaldo                  Real Madrid    745
4   2009           Lionel Messi                    Barcelona    473
5   2008      Cristiano Ronaldo                  Man. United    446
6   2007                   Kaká                        Milan    444
7   2006        Fabio Cannavaro        Juventus/ Real Madrid    173
8   2005      Ronaldinho Gaúcho                    Barcelona    225
9   2004      Andriy Shevchenko                        Milan    175
10  2003           Pavel Nedvěd                     Juventus    190
11  2002                Ronaldo  Internazionale/ Real Madrid    169
12  2001           Michael Owen                    Liverpool    176
13  2000              Luís Figo       Barcelona/ Real Madrid    197
14  1999                Rivaldo                    Barcelona    219
15  1998        Zinedine Zidane                     Juventus    244
16  1997                Ronaldo                    Barcelona    222
17  1996        Matthias Sammer            Borussia Dortmund    144
18  1995            George Weah                     Paris SG    144
19  1994       Hristo Stoichkov                    Barcelona    210
20  1993         Roberto Baggio                     Juventus    142
21  1992       Marco van Basten                        Milan     98
22  1991      Jean-Pierre Papin                    Marseille    141
23  1990        Lothar Matthäus               Internazionale    137
24  1989       Marco van Basten                        Milan    119
25  1988       Marco van Basten                        Milan    129
26  1987            Ruud Gullit                   PSV/ Milan    106
27  1986           Ihor Belanov                  Dynamo Kyiv     84
28  1985         Michel Platini                     Juventus    127
29  1984         Michel Platini                     Juventus    128
30  1983         Michel Platini                     Juventus    110
31  1982            Paolo Rossi                     Juventus    115
32  1981  Karl-Heinz Rummenigge                Bayern Munich    106
33  1980  Karl-Heinz Rummenigge                Bayern Munich    122
34  1979           Kevin Keegan                      Hamburg    118
35  1978           Kevin Keegan                      Hamburg     87
36  1977         Allan Simonsen                 B.M´gladbach     74
37  1976      Franz Beckenbauer                Bayern Munich     91
38  1975           Oleh Blokhin                  Dynamo Kyiv    122
39  1974           Johan Cruyff                    Barcelona    116

In [5]:
#Armazenando os dados da segunda página no dataframe

df_france_2 = pd.DataFrame(tabela_2[1])

In [6]:
#Armazenando os dados da terceira página em outro dataframe

df_france_3 = pd.DataFrame(tabela_3[1])

In [7]:
#Tratando os dados da terceira página (selecionando apenas as premiações no período de 2010 a 2015)

df_france_3 = df_france_3.loc[(df_france_3.Ano < 2016) & (df_france_3.Ano > 2009)]

In [8]:
#Concatenando (unindo) os três dataframes

df_france = pd.concat([df_france_1, df_france_2, df_france_3], axis=0, sort=True)

In [9]:
#Organizando as linhas por ordem crescente mediante o ano

df_france = df_france.sort_values(['Ano'])

In [10]:
#Resetando o index do dataframe gerado

df_france = df_france.reset_index(drop=True)

In [11]:
#Removendo a feature Votos

df_france = df_france.drop(columns=['votos'])

In [12]:
df_france

     Ano       Equipe            Vencedor
0   1956    Blackpool    Stanley Matthews
1   1957  Real Madrid  Alfredo Di Stéfano
2   1958  Real Madrid        Raymond Kopa
3   1959  Real Madrid  Alfredo Di Stéfano
4   1960    Barcelona         Luis Suárez
..   ...          ...                 ...
59  2015    Barcelona        Lionel Messi
60  2016  Real Madrid   Cristiano Ronaldo
61  2017  Real Madrid   Cristiano Ronaldo
62  2018  Real Madrid         Luka Modric
63  2019    Barcelona        Lionel Messi

[64 rows x 3 columns]

In [85]:
df_france.Equipe.str['/':]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
59   NaN
60   NaN
61   NaN
62   NaN
63   NaN
Name: Equipe, Length: 64, dtype: float64

### Referências

### Dados

### https://www.ogol.com.br/awards.php?op=all

### Suporte técnico

### https://www.dotnetperls.com/substring-python