### Manipulação de Dados

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Leitura de Arquivos

### Arquivos CSV e TXT

pd.read_csv(string, sep=string, skiprows=int, encoding=string específica)

In [3]:
df_materiais = pd.read_csv("data/materiais.csv", sep = ";", skiprows = 0, encoding = "utf-8")

In [12]:
df_materiais['Material'].loc[0]

4000010

In [14]:
df_pedidos = pd.read_csv("data/pedidos.txt", sep="|", skiprows=2, encoding="latin-1")

### Arquivos XLSX

pd.read_excel(string, sheet_name = string ou int, skiprows = int)

In [16]:
df_vendas1 = pd.read_excel("data/vendas_1.xlsx", sheet_name = 'vendas', skiprows = 0)

In [17]:
df_vendas2 = pd.read_excel("data/vendas_2.xlsx", sheet_name = 0, skiprows = 0)

### Renomeando colunas

In [18]:
df_materiais = df_materiais.rename(columns = {'Material':'material', 'Texto breve material': 'texto_breve_material'})

In [20]:
df_pedidos.columns = ['cod_fornecedor', 'material', 'qtd_pedido', 'texto_breve', 'qtd_estoque']

In [22]:
df_vendas1.columns = ['data', 'material', 'qtd_vendas']

In [23]:
df_vendas2.columns = ['data', 'material', 'qtd_vendas']

### Deletando colunas

dataframe.drop(lista, axis = string ou int)

In [26]:
df_materiais.drop(['texto_breve_material'], axis = 'columns')

      material
0      4000010
1      4000013
2      4000014
3      4000015
4      4000016
...        ...
4577   6001409
4578   6001410
4579   6001411
4580   6001412
4581   6001415

[4582 rows x 1 columns]

In [27]:
df_pedidos = df_pedidos[['material', 'qtd_pedido', 'qtd_estoque']].copy()

In [28]:
df_pedidos.head(5)

    material  qtd_pedido  qtd_estoque
0  4003232.0         120           12
1  4005091.0          60            6
2  4003225.0          51            5
3  4003251.0          60            6
4  4001716.0          20            2

In [29]:
df_vendas1 = df_vendas1[['material', 'qtd_vendas']].copy()

In [30]:
df_vendas2 = df_vendas2.drop(['data'], axis = 'columns')

### Verificando os tipos de colunas

dataframe.dtypes

In [31]:
df_materiais.dtypes

material                 int64
texto_breve_material    object
dtype: object