## Download: http://github.com/dsacademybr

## Exercícios - Métodos e Funções

## Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e depois faça uma chamada à função para listar os números

In [7]:
def numeros_pares():
    for i in range(2, 21, 2):
        print(i)

numeros_pares()

2
4
6
8
10
12
14
16
18
20

## Exercício 2 - Crie uma função que receba uma string como argumento e retorne a mesma string em letras maiúsculas. Faça uma chamada à função, passando como parâmetro uma string

In [8]:
def maiuscula(p):
    return p.upper()
    
palavra = input("Digite uma palavra: ")
print(maiuscula(palavra))

Digite uma palavra: palabra
PALABRA

## Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e imprima a lista

In [12]:
def lista(l):
    print(l)

    l.append(5)
    l.append(6)
    print(l)
    
lista_numeros = [1, 2, 3, 4]
lista(lista_numeros)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

## Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas à função, com apenas 1 elemento e na segunda chamada com 4 elementos

In [15]:
def funcao(x, *vartuple):
    print(f"O item passado foi {x}!")
    
    for i in vartuple:
        print(f"O item passado foi {i}")

funcao(123)
funcao([1,2,3,4])

O item passado foi 123!
O item passado foi [1, 2, 3, 4]!

## Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 números como parâmetro e retornar a soma deles

In [1]:
soma = lambda n1, n2: n1 + n2

print(soma(3,4))

7

## Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local

In [1]:
# total = 0
# def soma( arg1, arg2 ):
#     total = arg1 + arg2; 
#     print ("Dentro da função o total é: ", total)
#     return total;

# soma( 10, 20 );
# print ("Fora da função o total é: ", total)

In [2]:
total = 0
def soma( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Dentro da função o total é: ", total)
    return total;

soma( 10, 20 );
print ("Fora da função o total é: ", total)

Dentro da função o total é:  30
Fora da função o total é:  0

## Exercício 7 - Abaixo você encontra uma lista com temperaturas em graus Celsius. Crie uma função anônima que converta cada temperatura para Fahrenheit
## Dica: para conseguir realizar este exercício, você deve criar sua função lambda dentro de uma função (que será estudada no próximo capítulo). Isso permite aplicar sua função a cada elemento da lista
## Como descobrir a fórmula matemática que converte de Celsius para Fahrenheit? Pesquise!!!

In [2]:
# Celsius = [39.2, 36.5, 37.3, 37.8]
# Fahrenheit = map(coloque_aqui_sua_função_lambda)
# print (list(Fahrenheit))

In [12]:
def convert(x):
    return (1.8*x) + 32

c = [39.2, 36.5, 37.3, 37.8]
f = map(convert, c)

print(list(f))

[102.56, 97.7, 99.14, 100.03999999999999]

In [16]:
c = [39.2, 36.5, 37.3, 37.8]
f = map(lambda x:(1.8*x) + 32, c)

print(list(f))

[102.56, 97.7, 99.14, 100.03999999999999]

## Exercício 8 - Crie um dicionário e liste todos os métodos e atributos do dicionário

In [6]:
dicionario = {'Name': 'Marco', 'Age': 32}
dicionario.values()

dict_values(['Marco', 32])

In [7]:
dicionario.items()

dict_items([('Name', 'Marco'), ('Age', 32)])

In [8]:
dicionario.keys()

dict_keys(['Name', 'Age'])

In [9]:
dicionario.get("Name")

'Marco'

In [11]:
dicionario.get("Nome", "Sem nome")

'Sem nome'

## Exercício 9 - Abaixo você encontra a importação do Pandas, um dos principais pacotes Python para análise de dados.
## Analise atentamente todos os métodos disponíveis. Um deles você vai usar no próximo exercício.

In [3]:
#import pandas as pd
#dir(pd)

In [6]:
import pandas as pd

In [7]:
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

## ************* Desafio ************* (pesquise na documentação Python)

## Exercício 10 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo do arquivo. Dica, use Pandas e um de seus métodos, describe()

## Arquivo: "binary.csv"

In [4]:
# import pandas as pd
# file_name = "binary.csv"

In [2]:
import pandas as pd

In [3]:
arquivo_binary = pd.read_csv("data/binary.csv")

In [4]:
arquivo_binary

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [5]:
arquivo_binary.describe()

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000

## Fim

## Obrigado - Data Science Academy - https://facebook.com/dsacademybr