## Retirar o espaço na coluna POLO (espaço em branco ao final de cada texto)
## Converter a coluna NOTA para float

In [1]:
import tabula
import numpy as np
import pandas as pd
import datatable as dt

In [181]:
df_cederj = pd.read_csv('data/prova_1.csv', index_col=None)

In [182]:
df_cederj.loc[(df_cederj.POLO == 'Mesquita ') & (df_cederj.CURSO == 'Administração') & (df_cederj.SITUACAO == 'HABILITADO CORREÇÃO REDAÇÃO') & (df_cederj.NOTA == '70')]

Empty DataFrame
Columns: [Unnamed: 0, INSCRICAO, NOME, NOTA, SITUACAO, CURSO, POLO, INSTITUICAO]
Index: []

In [183]:
df_cederj.loc[df_cederj.NOME == 'MARCO AURÉLIO ALENCASTRO PACHECO']

,Unnamed: 0,INSCRICAO,NOME,NOTA,SITUACAO,CURSO,POLO,INSTITUICAO
13936,13936,55188,MARCO AURÉLIO ALENCASTRO PACHECO,75.5,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ

### Trocando vírgulas por pontos na coluna NOTA

In [184]:
df_cederj['NOTA'] = df_cederj['NOTA'].replace(',','.', regex=True)

### Retirando os espaços nos extremos da coluna POLO

In [185]:
df_cederj['POLO'] = df_cederj['POLO'].str.strip()

In [186]:
df_cederj.loc[df_cederj.POLO == 'Mesquita'].head(5)

,Unnamed: 0,INSCRICAO,NOME,NOTA,SITUACAO,CURSO,POLO,INSTITUICAO
37,37,32105,ADELAINE CRISTINA DOS SANTOS,72.5,HABILITADO CORREÇÃO REDAÇÃO,Geografia,Mesquita,UERJ
45,45,37116,ADELMO GOMES CORDEIRO,77.0,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
54,54,40897,ADEMIR LEMOS JÚNIOR,96.5,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
67,67,10772,ADILMA FERREIRA DE MELO,55.5,HABILITADO CORREÇÃO REDAÇÃO,Geografia,Mesquita,UERJ
68,68,54562,ADILSON DA SILVA FERREIRA,NaN,ELIMINADO - FALTOSO,Administração,Mesquita,UFRRJ

### Exportando o dataframe gerado

In [187]:
df_cederj.to_csv("data/prova_1.csv")

### Trocando os valores nan por zero, na coluna NOTA

In [188]:
df_cederj.dtypes

Unnamed: 0       int64
INSCRICAO        int64
NOME            object
NOTA           float64
SITUACAO        object
CURSO           object
POLO            object
INSTITUICAO     object
dtype: object

In [189]:
df_cederj.columns

Index(['Unnamed: 0', 'INSCRICAO', 'NOME', 'NOTA', 'SITUACAO', 'CURSO', 'POLO',
       'INSTITUICAO'],
      dtype='object')

In [163]:
df_cederj['NOTA'] = df_cederj['NOTA'].replace('nan','0', regex=True)

### Convertendo a coluna NOTA de string para float

In [190]:
df_cederj = df_cederj.drop(columns=['Unnamed: 0'])

In [97]:
df_cederj['NOTA'] = pd.to_numeric(df_cederj['NOTA'], errors='coerce')

In [165]:
df_cederj.dtypes

INSCRICAO        int64
NOME            object
NOTA           float64
SITUACAO        object
CURSO           object
POLO            object
INSTITUICAO     object
dtype: object

In [166]:
df_cederj.to_csv("data/prova_1.csv")

In [191]:
df_cederj.loc[(df_cederj.POLO == 'Mesquita') & (df_cederj.CURSO == 'Administração') & (df_cederj.SITUACAO == 'HABILITADO CORREÇÃO REDAÇÃO') & (df_cederj.NOTA > 75)]

,INSCRICAO,NOME,NOTA,SITUACAO,CURSO,POLO,INSTITUICAO
45,37116,ADELMO GOMES CORDEIRO,77.0,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
54,40897,ADEMIR LEMOS JÚNIOR,96.5,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
172,56077,ADRIANNE ARAÚJO SANTOS,79.5,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
198,55505,ADRIANO NÓBREGA DE CASTRO,91.0,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
234,4624,ADSON DE ALMEIDA DAMAZIO,86.5,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
...,...,...,...,...,...,...,...
20875,2012,VICTOR HUGO COUTINHO AUZIER,94.0,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
20885,7272,VICTOR HUGO PEREIRA DE AZEVEDO,83.0,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
21413,37231,WANDERSON LOPES FEIJÓ,77.5,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
21473,24733,WELLINGTON ALVES BARROS,92.0,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ
21541,44047,WESLEY DE AZEVEDO BARBOSA,90.5,HABILITADO CORREÇÃO REDAÇÃO,Administração,Mesquita,UFRRJ

### Renomeando as colunas INSCRIÇÃO, SITUAÇÃO E INSTITUIÇÃO

In [168]:
df_cederj = df_cederj.rename(columns={'INSCRIÇÃO':'INSCRICAO', 'SITUAÇÃO':'SITUACAO', 'INSTITUIÇÃO':'INSTITUICAO'})

### Alterando a ordem das colunas

In [169]:
df_cederj = df_cederj[['INSCRICAO', 'NOME', 'NOTA', 'SITUACAO', 'CURSO', 'POLO', 'INSTITUICAO']]

### Definindo a INSCRICAO como o índice

In [170]:
df_cederj = df_cederj.loc[df_cederj['INSCRICAO'] != 'INSCRIÇÃO']

In [171]:
df_cederj['INSCRICAO'] = df_cederj['INSCRICAO'].astype(str).astype(int)

In [172]:
df_cederj.dtypes

INSCRICAO        int64
NOME            object
NOTA           float64
SITUACAO        object
CURSO           object
POLO            object
INSTITUICAO     object
dtype: object

In [ ]:
df_cederj.set_index('INSCRICAO', inplace=True)

In [142]:
df_cederj.reset_index('INSCRICAO', inplace=True)

### Exportando o dataframe gerado

In [192]:
df_cederj.to_csv("data/prova_1.csv")

In [196]:
df_cederj.dtypes

INSCRICAO        int64
NOME            object
NOTA           float64
SITUACAO        object
CURSO           object
POLO            object
INSTITUICAO     object
dtype: object