## cederj_prova.csv

### Converter arquivos PDF para CSV
### Inserir coluna com id
### Remover linhas duplicadas com: nome, curso, inscrição, nota e situação
### Dividir a coluna curso, polo e instituição em três colunas, com cada informação respectivamente

#### Converter arquivos PDF para CSV

Referências:

Tabula:

https://github.com/chezou/tabula-py

https://blog.chezo.uno/tabula-py-extract-table-from-pdf-into-python-dataframe-6c7acfa5f302


CSV:

https://towardsdatascience.com/an-overview-of-pythons-datatable-package-5d3a97394ee9

In [2]:
import tabula
import numpy as np
import pandas as pd
import datatable as dt

### Tratando a tabela de provas (cederj_prova)

In [3]:
df = tabula.read_pdf("data/cederj_prova.pdf", pages="all")

KeyboardInterrupt:

### Convertendo pdf para csv

In [ ]:
tabula.convert_into("data/cederj_prova.pdf", "data/prova.csv", output_format="csv", pages="all")

In [ ]:
dt_prova = pd.read_csv("data/prova.csv")

In [ ]:
curso_polo_inst = dt_prova['CURSO, POLO E INSTITUIÇÃO']

In [ ]:
curso = curso_polo_inst

### Separando a coluna curso

In [ ]:
curso = curso.str.split(" - ", n=1, expand=True)

In [ ]:
curso.rename(columns={0:"CURSO", 1:"POLO E INSTITUIÇÃO"}, inplace=True)

In [ ]:
curso_1 = curso["CURSO"]

In [ ]:
curso_1 = curso_1.to_frame()

In [ ]:
curso_1.rename(columns={0:"CURSO"}, inplace=True)

In [ ]:
curso_1

### Separando a coluna polo

In [ ]:
polo = curso["POLO E INSTITUIÇÃO"]

In [ ]:
polo = polo.str.split("(", n=1, expand=True)

In [ ]:
polo

In [ ]:
polo.rename(columns={0:"POLO", 1:"INSTITUIÇÃO"}, inplace=True)

In [ ]:
polo_1 = polo["POLO"]

In [ ]:
polo_1 = polo_1.to_frame()

In [ ]:
polo_1.rename(columns={0:"POLO"}, inplace=True)

In [ ]:
polo_1

### Separando a coluna instituição

In [ ]:
inst = polo["INSTITUIÇÃO"]

In [ ]:
inst = inst.str.replace(")", "")

In [ ]:
inst = inst.to_frame()

In [ ]:
inst.rename(columns={0:"INSTITUIÇÃO"}, inplace=True)

In [ ]:
inst

### Unindo os três dataframes (curso, polo e instituição)

In [ ]:
df_cederj = pd.concat([dt_prova, curso_1, polo_1, inst], axis=1)

In [ ]:
df_cederj

### Exportando o dataframe gerado

In [ ]:
df_cederj.to_csv("data/prova_1.csv")

### Importando o 'csv' criado

In [8]:
dt_cederj = pd.read_csv("data/prova_1.csv")

In [17]:
dt_cederj.head(1)

,Unnamed: 0,NOME,INSCRIÇÃO,NOTA,SITUAÇÃO,CURSO,POLO,INSTITUIÇÃO
0,0,AARADELFA EDELSZTEIN E WREDE,0012749,"80,0",HABILITADO CORREÇÃO REDAÇÃO,Pedagogia,Nova Friburgo,UERJ

In [11]:
dt_cederj.loc[dt_cederj.NOME == 'NOME']

,Unnamed: 0,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,CURSO,POLO,INSTITUIÇÃO
55,55,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN
111,111,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN
167,167,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN
223,223,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN
279,279,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN
...,...,...,...,...,...,...,...,...,...
21951,21951,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN
22007,22007,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN
22063,22063,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN
22119,22119,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN
22175,22175,NOME,"CURSO, POLO E INSTITUIÇÃO",INSCRIÇÃO,NOTA,SITUAÇÃO,"CURSO, POLO E INSTITUIÇÃO",NaN,NaN

### Removendo a coluna 'CURSO, POLO E INSTITUIÇÃO'

In [14]:
dt_cederj = dt_cederj.drop(columns = ["CURSO, POLO E INSTITUIÇÃO"])

In [18]:
dt_cederj.head(1)

,Unnamed: 0,NOME,INSCRIÇÃO,NOTA,SITUAÇÃO,CURSO,POLO,INSTITUIÇÃO
0,0,AARADELFA EDELSZTEIN E WREDE,0012749,"80,0",HABILITADO CORREÇÃO REDAÇÃO,Pedagogia,Nova Friburgo,UERJ

### Renomeando a coluna ID

In [31]:
dt_cederj.rename(columns={'Unnamed: 0':'ID'}, inplace=True)

In [32]:
dt_cederj

,ID,NOME,INSCRIÇÃO,NOTA,SITUAÇÃO,CURSO,POLO,INSTITUIÇÃO
0,0,AARADELFA EDELSZTEIN E WREDE,0012749,"80,0",HABILITADO CORREÇÃO REDAÇÃO,Pedagogia,Nova Friburgo,UERJ
1,1,ABEL DE OLIVEIRA ANDRADE,0047786,"61,5",ELIMINADO - ITEM 6.2 DO EDITAL,Engenharia de Produção,São Gonçalo,UFF
2,2,ABEL NASCIMENTO JUNIOR,0050580,"98,0",HABILITADO CORREÇÃO REDAÇÃO,Turismo,São Gonçalo,UFRRJ
3,3,ABNER BATISTA SILVA,0034822,"49,0",HABILITADO CORREÇÃO REDAÇÃO,Administração,Resende,UFRRJ
4,4,ABNER LEANDRO DIAS DOS SANTOS,0025002,"103,5",HABILITADO CORREÇÃO REDAÇÃO,Administração Pública,Nova Iguaçu,UFF
...,...,...,...,...,...,...,...,...
22197,22197,ZILMA RIBEIRO,0044497,"63,0",ELIMINADO - ITEM 6.2 DO EDITAL,Pedagogia,Nova Iguaçu,UERJ
22198,22198,ZILO DUTRA DE MORAIS,0056744,NaN,ELIMINADO - FALTOSO,Matemática,Nova Iguaçu,UFF
22199,22199,ZÍNGARA DE LUZIDES MACHADO BOMFIM,0019253,"102,5",HABILITADO CORREÇÃO REDAÇÃO,Ciências Biológicas,Nova Iguaçu,UFRJ
22200,22200,ZORIVALDO BASTOS BRANDÃO SOUZA,0043888,NaN,ELIMINADO - FALTOSO,Matemática,Campo Grande,UFF
22201,22201,ZULEICA PORTES MACHADO,0022963,"60,0",HABILITADO CORREÇÃO REDAÇÃO,Pedagogia,Miguel Pereira,UNIRIO

### Exportando o dataframe gerado

In [33]:
dt_cederj.to_csv("data/prova_1.csv")

### Removendo as linhas com o valor igual a 'NOME'

In [36]:
dt_cederj = dt_cederj.loc[dt_cederj.NOME != 'NOME']

### Exportando o dataframe gerado

In [38]:
dt_cederj.to_csv("data/prova_1.csv")

In [41]:
dt_cederj.columns

Index(['ID', 'NOME', 'INSCRIÇÃO', 'NOTA', 'SITUAÇÃO', 'CURSO', 'POLO',
       'INSTITUIÇÃO'],
      dtype='object')