![title](https://saudedigitalnews.com.br/wp-content/uploads/2020/11/danone.png)

# NutriSquad

## Desafio 2: Qual o impacto do suplemento nutricional na prevenção de quedas na população idosa?

### Importando as bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_excel('data/amostra_proj_pop_20201201_CO.xlsx')

In [8]:
df_remedios = pd.read_excel('http://datathon.polodados.com/dados_exportados/pnaum/amostra_pnaum_20201125_CO.xlsx')

In [9]:
df_remedios

,cluster,peso_rake,CODIGO_DOM,ORD_PES,idade,regiao,ABEPcont,qx0_20,q1_4,q1_5,...,q9_36_6,q9_37,q10_1,q10_3,q10_4,q10_5,q10_6,q10_7,q11_32,q11_33
0,8,497.518,1,16,31,1.0,41,NaN,2,1,...,2,2,NaN,NaN,NaN,NaN,NaN,4,1,NaN
1,8,683.324,2,14,21,3.0,51,NaN,1,1,...,2,2,NaN,NaN,NaN,NaN,NaN,2,1,NaN
2,8,1533.863,2,24,21,3.0,52,NaN,1,1,...,1,2,NaN,NaN,NaN,NaN,NaN,2,1,NaN
3,8,1533.863,3,15,1,2.0,12,NaN,1,4,...,2,2,NaN,NaN,NaN,NaN,NaN,2,1,NaN
4,8,683.324,3,24,81,2.0,11,NaN,1,4,...,2,2,NaN,NaN,NaN,NaN,NaN,3,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,11,683.324,515,24,51,1.0,71,NaN,1,4,...,2,2,NaN,NaN,NaN,NaN,NaN,1,1,NaN
496,11,554.242,516,13,81,1.0,82,NaN,2,1,...,2,2,NaN,NaN,NaN,NaN,NaN,2,1,NaN
497,1,671.530,517,22,11,2.0,32,NaN,3,4,...,2,2,NaN,NaN,NaN,NaN,NaN,2,1,NaN
498,1,861.043,518,14,51,1.0,91,NaN,2,4,...,2,2,NaN,NaN,NaN,NaN,NaN,2,1,NaN
499,1,671.530,521,13,11,1.0,32,NaN,1,4,...,2,2,NaN,NaN,NaN,NaN,NaN,2,1,NaN

### Referências
### Dados
### http://datathon.polodados.com/

### Referências técnicas