![](https://cartao.bemol.com.br/assets/img/logos/bemol.png)

# Desafio Final


### O projeto consiste em uma conciliação do valor total de vendas de recarga de celular por operadora e por loja. A Bemol recebe um arquivo de uma empresa financeira (detalhamento.xlsx) onde possui o valor consolidado de vendas e o objetivo é verificar se os dados do nosso banco de dados (vendas.csv) estão de acordo com o informado. Gerar um alerta caso os valores estejam divergentes.

### Dica:
### Os dados do SAP vêm separados por cada transição de venda realizada. A ideia é de agrupar esses dados para deixá-los no formato parecido com que recebemos da empresa externa e, assim, poder unificar as tabelas e fazer a comparação.
### * O formato final do relatório se encontra no arquivo de estória do usuário

### Importando as bibliotecas

![](https://i.pinimg.com/originals/a9/e1/30/a9e13016542fd09aa56a478b2753574a.gif)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importando o arquivo enviado pela empresa financeira

In [2]:
df_detalhamento = pd.read_excel("detalhamento.xlsx")

In [3]:
#Renomeando as colunas

df_detalhamento = df_detalhamento.rename(columns={'Unnamed: 0':'NomeFantasia', 'Unnamed: 1':'EscritorioVendas', 'Unnamed: 2':'UF', 'Unnamed: 3':'Operadora', 'Unnamed: 4':'Vlookup_Bruto'})

In [17]:
#Eliminando a primeira linha

df_detalhamento = df_detalhamento.drop(df_detalhamento[df_detalhamento.UF == 'UF'].index)

In [25]:
df_detalhamento

       NomeFantasia EscritorioVendas  UF Operadora Vlookup_Bruto
1     BEMOL AVENIDA              103  AM     Claro          2651
2     BEMOL AVENIDA              103  AM        Oi          3309
3     BEMOL AVENIDA              103  AM       Tim          1550
4     BEMOL AVENIDA              103  AM      Vivo          4739
5     BEMOL BARROSO              107  AM     Claro          1495
..              ...              ...  ..       ...           ...
122  BEMOL STUDIO 5              116  AM      Vivo          2144
123  BEMOL TORQUATO              500  AM     Claro          1838
124  BEMOL TORQUATO              500  AM        Oi           875
125  BEMOL TORQUATO              500  AM       Tim           560
126  BEMOL TORQUATO              500  AM      Vivo          3751

[126 rows x 5 columns]

### Importando os arquivos presentes na loja

### Estória do usuário

In [20]:
df_estoria = pd.read_excel("estoria_usuario.xlsx")

In [21]:
df_estoria

,loja,operadora,valor liquido,valor bruto,status,Unnamed: 5,Atividade,Status da Atividade
0,NaN,NaN,NaN,NaN,se valor liquido != valor bruto gerar mensage...,NaN,1. Leitura de arquivos,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,2. Tratamento de dados,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2.1. Renomear colunas,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,2.2. Verificar tipos,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,2.3. Deletar dados,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,3. Concatenar Tabelas,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,4. Correlação de Tabelas,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,5. Regra de Negócio,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,6. Exportar Dados,NaN

### Vendas

In [49]:
df_vendas = pd.read_csv("vendas.csv", sep=";")

In [57]:
df_vendas.head(5)

  Escritório de vendas|Fornecedor|Material|Data|Valor Liquido
0  101|Vivo|131318             RECARGA VIRTUAL VI...
1  101|Vivo|131318             RECARGA VIRTUAL VI...
2  101|Vivo|131318             RECARGA VIRTUAL VI...
3  101|Vivo|131318             RECARGA VIRTUAL VI...
4  101|Vivo|131318             RECARGA VIRTUAL VI...

In [67]:
#Dividindo os itens que agora estão em uma única coluna para uma lista de valores

list_vendas = df_vendas['Escritório de vendas|Fornecedor|Material|Data|Valor Liquido'].str.split('|')

In [68]:
list_vendas

0       [101, Vivo, 131318             RECARGA VIRTUAL...
1       [101, Vivo, 131318             RECARGA VIRTUAL...
2       [101, Vivo, 131318             RECARGA VIRTUAL...
3       [101, Vivo, 131318             RECARGA VIRTUAL...
4       [101, Vivo, 131318             RECARGA VIRTUAL...
                              ...
5108    [701, Claro, 131317             RECARGA VIRTUA...
5109    [701, Claro, 131317             RECARGA VIRTUA...
5110    [701, Claro, 131317             RECARGA VIRTUA...
5111    [701, Claro, 131317             RECARGA VIRTUA...
5112    [701, Claro, 131317             RECARGA VIRTUA...
Name: Escritório de vendas|Fornecedor|Material|Data|Valor Liquido, Length: 5113, dtype: object