In [3]:
import pandas as pd
import numpy as np
from fastaai_utils import add_datepart, train_cats, proc_df
import os
import math
from sklearn.ensemble import RandomForestRegressor

In [4]:
PATH = 'data/bulldozers/'
dep = 'SalePrice'

In [5]:
df_raw = pd.read_csv(f'{PATH}Train.csv', low_memory=False, parse_dates=["saledate"])

In [9]:
df_raw.tail().T[:5]

             401120   401121   401122   401123   401124
SalesID     6333336  6333337  6333338  6333341  6333342
SalePrice     10500    11000    11500     9000     7750
MachineID   1840702  1830472  1887659  1903570  1926965
ModelID       21439    21439    21439    21435    21435
datasource      149      149      149      149      149