![title](https://68.media.tumblr.com/853cf21e477e27168d3e62a792b8b592/tumblr_ooxp609mbo1uqdbpso1_400.gif)

### Messi vs Ronaldo

### Fonte: https://data.world/makeovermonday/2020w15-messi-vs-ronaldo-stats

### La Liga

### Gols por temporada
### Assistências por temporada
### Jogos por temporada
### Média de gols por jogos
### Média de gols por minuto jogado


### Champions

### Gols por temporada
### Assistências por temporada
### Jogos por temporada
### Média de gols por jogos
### Média de gols por minuto jogado

### Importando as bibliotecas necessárias

In [2]:
import pandas as pd

### Importando a base de dados para o nosso projeto

Os dados abaixo de referem às informações

In [8]:
df_messironaldo = pd.read_excel('data/MessiRonaldo.xlsx')

In [9]:
df_messironaldo

,Season,Player,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
0,2017-18,Messi,34,12,36,2996,6,2,10,783
1,2017-18,Ronaldo,26,5,27,2297,15,3,13,1170
2,2016-17,Messi,37,9,34,2832,11,2,9,810
3,2016-17,Ronaldo,25,6,29,2544,12,5,13,1200
4,2015-16,Messi,26,16,33,2729,6,1,7,630
5,2015-16,Ronaldo,35,11,36,3184,16,4,12,1109
6,2014-15,Messi,43,21,38,3375,10,6,13,1145
7,2014-15,Ronaldo,48,16,35,3096,10,4,12,1064
8,2013-14,Messi,28,12,31,2498,8,1,7,630
9,2013-14,Ronaldo,31,11,30,2537,17,6,11,991
10,2012-13,Messi,46,14,32,2629,8,3,11,827
11,2012-13,Ronaldo,34,11,34,2716,12,1,12,1080
12,2011-12,Messi,50,20,37,3270,14,9,11,990
13,2011-12,Ronaldo,46,13,38,3353,10,4,10,930
14,2010-11,Messi,31,21,33,2862,12,4,13,1050
15,2010-11,Ronaldo,40,13,34,2914,6,4,12,1018
16,2009-10,Messi,34,13,35,2841,8,0,11,985
17,2009-10,Ronaldo,26,11,29,2462,7,2,6,450

### La Liga

![](https://cdn.clipart.email/aa04921fb81612f5c87869e0872191da_la-liga-pes-2020-leagues-competitions-pro-evolution-soccer-_256-256.png)