![](https://hipsters.jobs/files/pictures/Logo_AlurabyCaelum.png)

### #QUARENTENADADOS

### https://www.alura.com.br/quarentenadados/aula01-sua-primeira-analise-de-dados?utm_campaign=alura_quarentenadados_-_1_aula&utm_medium=email&utm_source=RD+Station

### Este primeiro trabalho consiste em ler dados do MovieLens e fazer algumas análises nas avaliações dos filmes

![](https://www.saashub.com/images/app/service_logos/8/f181cf663f5c/large.png)

### Importando as bibliotecas a serem usadas

A primeira coisa a ser feita é a importação das biliotecas. Mesmo que sejam usadas mais adiante, é bom que este processo seja feito logo no início, de modo a manter a estrutura do notebook orgnaizada.

![](https://thumbs.gfycat.com/IdleCostlyBaiji-size_restricted.gif)

In [11]:
import pandas as pd
from IPython.display import Image

### Importando a base de dados do MovieLens

Aqui nós iremos importar a nossa base de dados.
Além disso, alteraremos os nomes da coluna, tornando a identificação mais intuitiva.

In [18]:
filmes = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula0/ml-latest-small/movies.csv")

In [19]:
filmes.columns = ["filmeId", "titulos", "generos"]

In [20]:
filmes.head()

,filmeId,titulos,generos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Importando a base de dados das avaliações dos filmes

In [14]:
avaliacoes = pd.read_csv("https://github.com/alura-cursos/introducao-a-data-science/blob/master/aula0/ml-latest-small/ratings.csv?raw=true")

In [15]:
avaliacoes.columns = ["usuarioId", "filmeId", "nota", "momento"]

In [16]:
avaliacoes.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

### Alguns testes que podemos fazer na base de dados baixada

In [10]:
len(avaliacoes) #Tamanho da base (número de linhas)

100836

In [11]:
avaliacoes.shape #Número de linhas e número de colunas (features)

(100836, 4)

In [12]:
avaliacoes.columns #Nomes das colunas

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [14]:
avaliacoes.describe() #Descrição da base de dados "avaliacoes"

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [15]:
avaliacoes.query("filmeId==1")

       usuarioId  filmeId  nota     momento
0              1        1   4.0   964982703
516            5        1   4.0   847434962
874            7        1   4.5  1106635946
1434          15        1   2.5  1510577970
1667          17        1   4.5  1305696483
...          ...      ...   ...         ...
97364        606        1   2.5  1349082950
98479        607        1   4.0   964744033
98666        608        1   2.5  1117408267
99497        609        1   3.0   847221025
99534        610        1   5.0  1479542900

[215 rows x 4 columns]

### Filmes agrupados por notas

In [22]:
notas_medias_por_filme = avaliacoes.groupby("filmeId")["nota"].mean()

In [23]:
notas_medias_por_filme

filmeId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: nota, Length: 9724, dtype: float64

### Desafio 1 do Paulo Silveira
O Paulo fez uma análise rápida e disse que tem 18 filmes sem avaliações, será que ele acertou?

Determine quantos filmes não tem avaliações e quais são esses filmes.

### Desafio 2 do Guilherme Silveira

Mudar o nome da coluna nota do dataframe filmes_com_media para nota_média após o join.

### Desafio 3 do Guilherme Silveira

Colocar o número de avaliações por filme, isto é, não só a média mas o TOTAL de votos por filme.

### Desafio 4 do Thiago Gonçalves

Arredondar as médias (coluna de nota média) para duas casas decimais.

### Desafio 5 do Allan Spadini

Descobrir os generos dos filmes (quais são eles, únicos). (esse aqui o bicho pega)

### Desafio 6 da Thais André

Contar o número de aparições de cada genero.

### Desafio 7 do Guilherme Silveira

Plotar o gráfico de aparições de cada genero. Pode ser um gráfico de tipo igual a barra.