In [1]:
import pandas as pd

In [2]:
import matplotlib as mp

In [3]:
import numpy as np

# Estações

In [4]:
estacoes_metro = pd.read_csv('data/Estacoes_Metro.csv', low_memory=False)

In [5]:
estacoes_metro[:5]

,X,Y,OBJECTID,Cod,Nome,Flg_ATM,Flg_Bicicletario,Flg_Elevador,Flg_Linha1,Flg_Linha2,...,Flg_Linha4,Integra_Trem,Integra_Onibus,Integra_BRT,Corredor,Integra_VLT,Onibus,Flg_Metro_Superficie,Metro_Superficie,Data_Inauguracao
0,667866.2673,7.477003e+06,1,1,Pavuna,Sim,Sim,Sim,Não,Sim,...,Não,Sim,Não,Não,NaN,Não,NaN,Não,NaN,1998
1,668510.9902,7.475928e+06,2,2,Engenheiro Rubens Paiva,Sim,Sim,Sim,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
2,669405.0928,7.475004e+06,3,3,Acari / Fazenda Botafogo,Não,Não,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
3,670051.9240,7.474226e+06,4,4,Coelho Neto,Sim,Não,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998
4,671002.2546,7.472974e+06,5,5,Colégio,Sim,Sim,Não,Não,Sim,...,Não,Não,Não,Não,NaN,Não,NaN,Não,NaN,1998

In [6]:
estacoes_trem = pd.read_csv('data/Estacoes_Trem.csv', low_memory=False)

In [7]:
estacoes_trem[:5]

,X,Y,OBJECTID,Cod,Nome,Flg_IntegraOnibus,Flg_IntegraMetro,Flg_Terminal,Flg_TransfRamal,Flg_TransfCentral,...,Flg_Saracuruna,Flg_Deodoro,Flg_SantaCruz,Flg_Japeri,Flg_Paracambi,Flg_VilaInhomirim,Flg_Guapimirim,Data_Inc,Integra_BRT,Corredor_BRT
0,659240.5000,7.482178e+06,1,60,Nova Iguaçu,NaN,NaN,Sim,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
1,655197.3795,7.484056e+06,2,20,Comendador Soares,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
2,651756.0969,7.486730e+06,3,4,Austin,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
3,648330.8010,7.487214e+06,4,81,Queimados,NaN,NaN,Sim,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN
4,643238.5383,7.491415e+06,5,29,Engenheiro Pedreira,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sim,NaN,NaN,NaN,NaN,NaN,NaN

# Fluxos

## Fluxo Metrô 2016

In [8]:
data_modais_metro_2016 = pd.read_csv('data/datamodaisrj_metro_2016.csv', sep=';')

In [9]:
data_modais_metro_2016[:5]

        Bairros Total anual Média diária
0         Saúde           -            -
1        Gamboa           -            -
2  Santo Cristo           -            -
3          Caju           -            -
4        Centro      72 483          199

## Fluxo Trem 2016

In [10]:
data_modais_trem_2016 = pd.read_csv('data/datamodaisrj_trem_2016.csv', sep=';')

In [11]:
data_modais_trem_2016[:5]

        Bairros Total anual Média diária
0         Saúde           -            -
1        Gamboa           -            -
2  Santo Cristo           -            -
3          Caju           -            -
4        Centro      40 478          111

In [12]:
data_modais_trem_2016 = data_modais_trem_2016[data_modais_trem_2016['Total anual'] != '-']

In [50]:
data_modais_trem_2016.count()

Bairros         54
Total anual     54
Média diária    54
dtype: int64

## Fluxo Metrô 2017

In [15]:
data_modais_metro_2017 = pd.read_csv('data/datamodaisrj_metro_2017.csv', sep=';')

In [16]:
data_modais_metro_2017[:5]

        Bairros Total anual Média diária
0         Saúde           -            -
1        Gamboa           -            -
2  Santo Cristo           -            -
3          Caju           -            -
4        Centro      66 654          183

In [17]:
data_modais_metro_2017['Total anual'].count() * 1000

161000

In [18]:
data_modais_metro_2017 = data_modais_metro_2017[data_modais_metro_2017['Total anual'] != '-']

In [19]:
data_modais_metro_2017[:5]

          Bairros Total anual Média diária
4          Centro      66 654          183
8     Cidade Nova       5 163           14
9         Estácio       2 979            8
10  São Cristóvão       4 052           11
12       Benfica        1 990            5

## Fluxo Trem 2017

In [20]:
data_modais_trem_2017 = pd.read_csv('data/datamodaisrj_trem_2017.csv', sep=',')

In [21]:
data_modais_trem_2017[:5]

        Bairros Total anual Média diária
0         Saúde           -            -
1        Gamboa           -            -
2  Santo Cristo           -            -
3          Caju           -            -
4        Centro      35 873           98

In [22]:
data_modais_trem_2017 = data_modais_trem_2017[data_modais_trem_2017['Total anual'] != '-']

In [23]:
data_modais_trem_2017[:5]

              Bairros Total anual Média diária
4              Centro      35 873           98
10      São Cristóvão       7 804           21
12           Benfica        1 156            3
34  Praça da Bandeira       1 167            3
37           Maracanã       3 224            9

# População residente

In [24]:
data_populacao_residente = pd.read_csv('data/Populacao_residente.csv', sep=';')

In [25]:
data_populacao_residente[:5]

  Regiões Administrativas       2000       2010
0                     NaN        NaN        NaN
1                Anchieta    154 608    158 318
2                     NaN        NaN        NaN
3                   Bangu    420 503    428 035
4                     NaN        NaN        NaN

In [26]:
data_populacao_residente.count()

Regiões Administrativas    33
2000                       33
2010                       33
dtype: int64

In [27]:
data_populacao_residente = data_populacao_residente[data_populacao_residente['2010'].notna()]

In [28]:
data_populacao_residente[:5]

  Regiões Administrativas       2000       2010
1                Anchieta    154 608    158 318
3                   Bangu    420 503    428 035
5         Barra da Tijuca    174 353    300 823
7                Botafogo    238 895    239 729
9            Campo Grande    484 362    542 084

# Teste

In [52]:
X = data_modais_trem_2016[['Total anual']]

In [53]:
y = data_modais_trem_2016[['Bairros']]

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [57]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=30, weights='distance')
model.fit(X_train, y_train)
predicted= model.predict(X_test)

ValueError: could not convert string to float: ' 1 042'