![title](https://i.pinimg.com/236x/ce/b4/18/ceb41806c3fcf8216de0086ade094e71.jpg)

### Prêmio France Football

### Importando as bibliotecas

In [3]:
#Importando as bibliotecas

import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from pandas.io.html import read_html
from IPython.display import clear_output

### Importando os dados

In [60]:
#Tratamento do site de onde os dados serão coletados

site_1 = "https://www.ogol.com.br/award.php?id=1"
tabela_1 = read_html(site_1, decimal = ',', thousands = '.')

site_2 = "https://www.ogol.com.br/award.php?id=1&id_evento=0&ano=0&mes=0&epoca=0&jornada=0&page=2"
tabela_2 = read_html(site_2, decimal = ',', thousands = '.')

site_3 = "https://www.ogol.com.br/award.php?id=2"
tabela_3 = read_html(site_3, decimal = ',', thousands = '.')

In [27]:
#Armazenando os dados da primeira página em um dataframe

df_france_1 = pd.DataFrame(tabela_1[1])

In [28]:
#Armazenando os dados da segunda página no dataframe

df_france_2 = pd.DataFrame(tabela_2[1])

In [61]:
#Armazenando os dados da terceira página em outro dataframe

df_france_3 = pd.DataFrame(tabela_3[1])

In [65]:
#Tratando os dados da terceira página (selecionando apenas as premiações no período de 2010 a 2015)

df_france_3 = df_france_3.loc[(df_france_3.Ano < 2016) & (df_france_3.Ano > 2009)]

In [41]:
#Concatenando (unindo) os dois dataframes

df_france = pd.concat([df_france_1, df_france_2], axis=0, sort=True)

In [45]:
#Resetando o index do dataframe gerado

df_france = df_france.reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ano       58 non-null     int64
 1   Equipe    58 non-null     object
 2   Vencedor  58 non-null     object
 3   votos     58 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.9+ KB

In [58]:
df_france.Equipe.str[:]

0                       celona
1                     l Madrid
2                     l Madrid
3                     l Madrid
4                       celona
5                     . United
6                           an
7           entus/ Real Madrid
8                       celona
9                           an
10                       entus
11    ernazionale/ Real Madrid
12                      erpool
13         celona/ Real Madrid
14                      celona
15                       entus
16                      celona
17              ussia Dortmund
18                       is SG
19                      celona
20                       entus
21                          an
22                      seille
23                 ernazionale
24                          an
25                          an
26                     / Milan
27                    amo Kyiv
28                       entus
29                       entus
30                       entus
31                       entus
32                  ern Munich
33                  ern Munich
34                        burg
35                        burg
36                   ´gladbach
37                  ern Munich
38                    amo Kyiv
39                      celona
40                x/ Barcelona
41                  ern Munich
42                           x
43                  ern Munich
44                          an
45                    . United
46                    encváros
47                    . United
48                        fica
49                    . United
50                  amo Moskva
51                   K Pribram
52                       entus
53                      celona
54                    l Madrid
55                    l Madrid
56                    l Madrid
57                      ckpool
Name: Equipe, dtype: object

### Referências

### Dados

### https://www.ogol.com.br/awards.php?op=all

### Suporte técnico

### https://www.dotnetperls.com/substring-python