![title](https://i.pinimg.com/236x/ce/b4/18/ceb41806c3fcf8216de0086ade094e71.jpg)

### Prêmio France Football

### Importando as bibliotecas

In [1]:
#Importando as bibliotecas

import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from pandas.io.html import read_html
from IPython.display import clear_output

import requests
from bs4 import BeautifulSoup
import re

### Web Scraping (Opção 1)

In [2]:
#Tratamento do site de onde os dados serão coletados

#Vencedores até 2009
site_1 = "https://www.ogol.com.br/award.php?id=1"
tabela_1 = read_html(site_1, decimal = ',', thousands = '.')

#Vencedores após 2015
site_2 = "https://www.ogol.com.br/award.php?id=1&id_evento=0&ano=0&mes=0&epoca=0&jornada=0&page=2"
tabela_2 = read_html(site_2, decimal = ',', thousands = '.')

#Vencedores entre 2010 e 2015
site_3 = "https://www.ogol.com.br/award.php?id=2"
tabela_3 = read_html(site_3, decimal = ',', thousands = '.')

In [3]:
#Armazenando os dados da primeira página em um dataframe

df_france_1 = pd.DataFrame(tabela_1[1])

In [4]:
#Armazenando os dados da segunda página no dataframe

df_france_2 = pd.DataFrame(tabela_2[1])

In [5]:
#Armazenando os dados da terceira página em outro dataframe

df_france_3 = pd.DataFrame(tabela_3[1])

In [6]:
#Tratando os dados da terceira página (selecionando apenas as premiações no período de 2010 a 2015)

df_france_3 = df_france_3.loc[(df_france_3.Ano < 2016) & (df_france_3.Ano > 2009)]

In [32]:
df_france_1.head()

    Ano           Vencedor       Equipe  votos
0  2019       Lionel Messi    Barcelona    687
1  2018        Luka Modric  Real Madrid    753
2  2017  Cristiano Ronaldo  Real Madrid    946
3  2016  Cristiano Ronaldo  Real Madrid    745
4  2009       Lionel Messi    Barcelona    473

In [10]:
#Concatenando (unindo) os três dataframes

df_france = pd.concat([df_france_1, df_france_2, df_france_3], axis=0, sort=True)

In [11]:
#Organizando as linhas por ordem crescente mediante o ano

df_france = df_france.sort_values(['Ano'])

In [12]:
#Resetando o index do dataframe gerado

df_france = df_france.reset_index(drop=True)

In [13]:
#Removendo a feature Votos

df_france = df_france.drop(columns=['votos'])

### Web Scraping (Opção 2)

In [67]:
f1 = "https://www.topendsports.com/sport/soccer/list-player-of-the-year-ballondor.htm"
t1 = read_html(f1, decimal = ',', thousands = '.')

In [72]:
#Ordenando por ano e resetando o índice

players = t1[0].sort_values(['year']).reset_index(drop=True)

In [77]:
#Retirando a última linha (o prêmio de 2020 não será concedido)

players = players.loc[players.player != 'not awarded']

In [79]:
#Renomeando as colunas

players.columns = ['ano', 'vencedor', 'nacionalidade', 'clube']

In [80]:
players

     ano            vencedor nacionalidade        clube
0   1956    Stanley Matthews       England    Blackpool
1   1957  Alfredo Di Stéfano         Spain  Real Madrid
2   1958        Raymond Kopa        France  Real Madrid
3   1959  Alfredo Di Stéfano         Spain  Real Madrid
4   1960         Luis Suárez         Spain    Barcelona
..   ...                 ...           ...          ...
59  2015        Lionel Messi     Argentina    Barcelona
60  2016   Cristiano Ronaldo      Portugal  Real Madrid
61  2017   Cristiano Ronaldo      Portugal  Real Madrid
62  2018         Luka Modric       Croatia  Real Madrid
63  2019        Lionel Messi     Argentina    Barcelona

[64 rows x 4 columns]

### Referências

### Dados

### https://www.ogol.com.br/awards.php?op=all
### https://www.topendsports.com/sport/soccer/list-player-of-the-year-ballondor.htm

### Suporte técnico

### https://www.dotnetperls.com/substring-python
### https://www.digitalocean.com/community/tutorials/como-fazer-scraping-em-paginas-web-com-beautiful-soup-and-python-3-pt
### https://www.youtube.com/watch?v=anv-Vt_FL4E
### https://www.youtube.com/watch?v=Vxl5jUltHBo
### https://medium.com/horadecodar/como-fazer-webscraping-com-python-e-beautiful-soup-28a65eee2efd
### https://www.crummy.com/software/BeautifulSoup/bs4/doc/
### https://www.geeksforgeeks.org/replace-values-in-pandas-dataframe-using-regex/
### https://blog.geekhunter.com.br/como-fazer-um-web-scraping-python/