### Referências:

### https://www.pilulaeconomica.com/post/introdu%C3%A7%C3%A3o-ao-web-scraping-com-python
### https://simpleanalytical.com/how-to-web-scrape-wikipedia-python-urllib-beautiful-soup-pandas
### https://goomore.com/blog/web-scraping-python/

In [17]:
#Importando as bibliotecas

from pandas.io.html import read_html
import pandas as pd
from IPython.display import clear_output

In [18]:
#Site de onde as informações serão coletadas

site = input("Digite o site com os dados: ")

Digite o site com os dados: https://en.wikipedia.org/wiki/1999%E2%80%932000_FA_Premier_League

In [19]:
#Tratamento dos dados

tabela = read_html(site, decimal = ',', thousands = '.')

In [20]:
#Quantidade de tabelas importadas

len(tabela)

18

In [31]:
#Seleção da tabela cujos dados serão baixados

numero_tabela = 0
while(numero_tabela<=0 or numero_tabela>(len(tabela))):
    clear_output()
    numero_tabela = int(input("Digite o número da tabela a ser consultada: "))
    if (numero_tabela<=0 or numero_tabela>(len(tabela))):
        print("Digite um número entre 1 e ", len(tabela))

Digite o número da tabela a ser consultada: 3

In [32]:
#Salvando os dados em um DataFrame

df_tabela = pd.DataFrame(tabela[numero_tabela - 1])

In [33]:
#Exibindo os dados

df_tabela

                   Team             Location               Stadium  Capacity
0               Arsenal    London (Highbury)       Arsenal Stadium    38.419
1           Aston Villa           Birmingham            Villa Park    42.573
2         Bradford City             Bradford         Valley Parade    25.136
3               Chelsea      London (Fulham)       Stamford Bridge    42.055
4         Coventry City             Coventry        Highfield Road    23.489
5          Derby County                Derby    Pride Park Stadium    33.597
6               Everton   Liverpool (Walton)         Goodison Park    40.569
7          Leeds United                Leeds           Elland Road    40.242
8        Leicester City            Leicester        Filbert Street    22.000
9             Liverpool  Liverpool (Anfield)               Anfield    45.522
10    Manchester United         Old Trafford          Old Trafford    68.174
11        Middlesbrough        Middlesbrough     Riverside Stadium    35.049
12     Newcastle United  Newcastle upon Tyne        St James' Park    52.387
13  Sheffield Wednesday            Sheffield  Hillsborough Stadium    39.732
14          Southampton          Southampton              The Dell    15.200
15           Sunderland           Sunderland      Stadium of Light    49.000
16    Tottenham Hotspur   London (Tottenham)       White Hart Lane    36.240
17              Watford              Watford         Vicarage Road    19.920
18      West Ham United  London (Upton Park)         Boleyn Ground    35.647
19            Wimbledon   London (Wimbledon)      Selhurst Park[a]    26.074

In [39]:
#Nomeando o arquivo CSV a ser salvo

arquivo = str(input("Digite o nome do arquivo a ser exportado: "))
arquivo = arquivo + ".csv"

Digite o nome do arquivo a ser exportado: arquivo

In [41]:
#Exportando o arquivo como CSV

df_tabela.to_csv(arquivo, index = False)