### Referências:

### https://www.pilulaeconomica.com/post/introdu%C3%A7%C3%A3o-ao-web-scraping-com-python
### https://simpleanalytical.com/how-to-web-scrape-wikipedia-python-urllib-beautiful-soup-pandas
### https://goomore.com/blog/web-scraping-python/
### https://simpleanalytical.com/thanks/

In [1]:
#Importando as bibliotecas

from pandas.io.html import read_html
import pandas as pd
from IPython.display import clear_output

In [2]:
#Tratamento do site de onde os dados serão coletados

site_valido = False

while (site_valido == False):
    try:
        site = input("Digite o site com os dados a serem coletados: ")
        tabela = read_html(site, decimal = ',', thousands = '.')
        site_valido = True
        clear_output()
    except ValueError:
        clear_output()
        print("Digite uma url válida!")
        site_valido = False

In [12]:
#Quantidade de tabelas importadas

len(tabela)

24

In [14]:
#Seleção da tabela cujos dados serão baixados

numero_tabela = 0
while(numero_tabela<=0 or numero_tabela>(len(tabela))):
    clear_output()
    numero_tabela = int(input("Digite o número da tabela a ser consultada (Digite um número entre 1 e " + str(len(tabela)) + "): "))
    if (numero_tabela<=0 or numero_tabela>(len(tabela))):
        print("Digite um número entre 1 e ", len(tabela))

Digite o número da tabela a ser consultada (Digite um número entre 1 e 24): 10

In [15]:
#Salvando os dados em um DataFrame

df_tabela = pd.DataFrame(tabela[numero_tabela - 1])

In [16]:
#Exibindo os dados

df_tabela

,vdePersonalidade do Ano pela BBC Sports,vdePersonalidade do Ano pela BBC Sports.1
0,1954–1959,1954 Christopher Chataway · 1955 Gordon Pirie ...
1,1960–1969,1960 David Broome · 1961 Stirling Moss · 1962 ...
2,1970–1979,1970 Henry Cooper · 1971 SAR Princesa Ana do R...
3,1980–1989,1980 Robin Cousins · 1981 Ian Botham · 1982 Da...
4,1990–1999,1990 Paul Gascoigne · 1991 Liz McColgan · 1992...
5,2000–2009,2000 Steve Redgrave · 2001 David Beckham · 200...
6,2010–,2010 Tony McCoy · 2011 Mark Cavendish · 2012 B...

In [42]:
#Nomeando o arquivo XLSX a ser salvo

arquivo_exportado = str(input("Digite o nome do arquivo a ser exportado: "))
arquivo_exportado = arquivo_exportado + ".xlsx"

Digite o nome do arquivo a ser exportado: arquivo

In [43]:
#Exportando o arquivo como XLSX

df_tabela.to_excel(arquivo_exportado, index = False)