### https://www.pilulaeconomica.com/post/introdu%C3%A7%C3%A3o-ao-web-scraping-com-python

In [2]:
#Importando as bibliotecas

from pandas.io.html import read_html
import pandas as pd

In [3]:
#Site de onde as informações serão coletadas

site = input("Digite o site com os dados: ")

Digite o site com os dados: https://en.wikipedia.org/wiki/1999%E2%80%932000_FA_Premier_League

In [4]:
#Tratamento dos dados

tabela = read_html(site, decimal = ',', thousands = '.')

In [5]:
#Quantidade de tabelas importadas

len(tabela)

18

In [ ]:
#Seleção da tabela cujos dados serão baixados

numero_tabela = 0
while(numero_tabela<=0 or numero_tabela>(len(tabela))):
    numero_tabela = int(input("Digite o número da tabela a ser consultada"))
    if (numero_tabela<=0 or numero_tabela>(len(tabela))):
        print("Digite um número entre 1 e ", len(tabela))

In [17]:
#Salvando os dados em um DataFrame

df_wiki = pd.DataFrame(tabela[numero_tabela - 1])

In [18]:
#Exibindo os dados

df_wiki

,Team,Outgoing manager,Manner of departure,Date of vacancy,Position in table,Incoming manager,Date of appointment
0,Wimbledon,Joe Kinnear,Resigned,9 June 1999,Pre-season,Egil Olsen,9 June 1999
1,Newcastle United,Ruud Gullit,Resigned,28 August 1999[2],19th,Bobby Robson,2 September 1999[3]
2,Southampton,Dave Jones,Contract terminated,27 January 2000[a],17th,Glenn Hoddle,28 January 2000
3,Sheffield Wednesday,Danny Wilson,Sacked,21 March 2000[4],19th,Peter Shreeves (caretaker),21 March 2000
4,Wimbledon,Egil Olsen,Sacked,1 May 2000[5],18th,Terry Burton,1 May 2000